Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

.lintstagedrc:

{
  "**/*.less": "stylelint --syntax less",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

feat: update dependences
  packages/antd-management-fast-framework/.eslintrc.js
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/.eslintrc.js
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Publish
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

feat: update frarmework changeds
  packages/antd-management-fast-framework/src/customComponents/DataPreviewDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseUpdateTransferModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataCore/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/customComponents/DataPreviewDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseUpdateTransferModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataCore/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/simple-antd-management-fast-framework/config/router.config.js
  packages/simple-antd-management-fast-framework/src/customConfig/accessWayCollection.js
  packages/simple-antd-management-fast-framework/src/locales/zh-CN/menu.js
  packages/simple-antd-management-fast-framework/src/models/article.js
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Add/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/AddBasicInfoDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/AddMediaItemDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/ChangeSortModal/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/MediaInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/MediaItemPreviewDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/SingleList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/UpdateBasicInfoDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/UpdateMediaItemDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Password/index.jsx
  packages/simple-antd-management-fast-framework/src/services/article.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: 重构分页，增加cardView 展示类型；重构部分底层框架
  document/upgrage.text
  packages/antd-management-fast-framework/.fatherrc.js
  packages/antd-management-fast-framework/src/customComponents/AnimalBox/QueueBox/index.jsx
  packages/antd-management-fast-framework/src/customComponents/AnimalBox/QueueListBox/index.jsx
  packages/antd-management-fast-framework/src/customComponents/AnimalBox/QueueListBox/index.less
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/customComponents/StandardTableCustom/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.less
  packages/antd-management-fast-framework/src/framework/DataListView/DensityAction/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPage/index.less
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Add/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/SingleList/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/simple-antd-management-fast-framework/public/interactionConfig/init.js
  packages/simple-antd-management-fast-framework/public/print.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: adjust getColumnWrapper
  packages/antd-management-fast-framework/.fatherrc.js
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/package.json
Due: prettier --write

feat: update
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

feat: rename searchCartConfigData function name establishSearchCardConfig
  document/upgrage.text
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/SingleList/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: rename name
  document/upgrage.text
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataCore/index.jsx
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/SingleList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/UpdateMediaItemDrawer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: rename function
  document/upgrage.text
  packages/antd-management-fast-framework/src/customComponents/DataPreviewDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseAddDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseNeedlessLoadDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseSaveDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMenuContainer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseNeedlessLoadModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseWindow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataCore/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataLoad/index.jsx
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Add/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/AddBasicInfoDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/ChangeSortModal/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/MediaInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/MediaItemPreviewDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/SingleList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/UpdateBasicInfoDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/UpdateMediaItemDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Password/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: rename function
  document/upgrage.text
Due: none

feat: aDJUST SIMPLE
  document/upgrage.text
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: rename function
  document/upgrage.text
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: liveView expandView add placeholderIcon and some config
  packages/antd-management-fast-framework/src/customComponents/AnimalBox/RotateBox/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/services/article.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: adjust listView expander config
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.less
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: remove lib build mode
  packages/antd-management-fast-framework/.fatherrc.js
  packages/antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: adjust config and package script
  packages/simple-antd-management-fast-framework/config/config.development.js
  packages/simple-antd-management-fast-framework/config/config.production.js
  packages/simple-antd-management-fast-framework/config/extraScript.js
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/simple-antd-management-fast-framework/config/config.js
  packages/simple-antd-management-fast-framework/src/pages/Article/ChangeSortModal/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Password/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Dashboard/Analysis/index.less
  packages/simple-antd-management-fast-framework/src/pages/Dashboard/Monitor.less
  packages/simple-antd-management-fast-framework/src/pages/Dashboard/Workplace.less
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update dependences
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

feat: 帮助渲染配置调整样式支持
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/customComponents/HelpBox/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Add/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: 修复SinglePage构建数据源错误地问题 (配置有误)
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: buildColumnList buildColumnItem 提升至 FunctionComponent，原地保持对此的调用
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: toPercentage function changed
  packages/antd-management-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write
