Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  package.json
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

Publish
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

feat: update code
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update simple
  packages/simple-antd-management-fast-framework/src/pages/Article/Assist/action.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/Assist/action.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: add utils/tools recordError
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/Assist/action.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Assist/action.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/customComponents/ImageUpload/index.jsx
  packages/antd-management-fast-framework/src/customComponents/VideoUpload/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  package.json
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/config/config.js
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/customComponents/FileBase64Upload/index.jsx
  packages/antd-management-fast-framework/src/customComponents/ImageUpload/index.jsx
  packages/antd-management-fast-framework/src/customComponents/VideoUpload/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/antd-management-fast-framework/src/utils/defaultSettingsSpecial.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update srcipt
  package.json
Due: prettier --write

feat: add DataMenuContainer
  package.json
  packages/antd-management-fast-framework/src/framework/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMenuContainer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMenuContainer/index.less
  packages/simple-antd-management-fast-framework/src/customConfig/accessWayCollection.js
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/framework/DataForm/BaseUpdateForm/index.less
  packages/antd-management-fast-framework/src/framework/DataForm/BaseUpdateFormContent/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseUpdateFormTab/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseUpdateFormTab/index.less
  packages/antd-management-fast-framework/src/framework/DataMenuContainer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMenuContainer/index.less
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Common/data.js
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/BasicInfo/index.less
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Password/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/simple-antd-management-fast-framework/src/pages/Article/ChangeSortModal/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Password/index.jsx
  packages/simple-antd-management-fast-framework/src/services/article.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Password/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: change dependendes
  package.json
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

feat: update setting page
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Password/index.less
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update pages
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Password/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: format
  packages/simple-antd-management-fast-framework/src/models/accessWay.js
  packages/simple-antd-management-fast-framework/src/models/article.js
  packages/simple-antd-management-fast-framework/src/models/currentOperator.js
  packages/simple-antd-management-fast-framework/src/models/dashboard.js
  packages/simple-antd-management-fast-framework/src/models/global.js
  packages/simple-antd-management-fast-framework/src/models/user.js
  packages/simple-antd-management-fast-framework/src/pages/Dashboard/models/activities.js
  packages/simple-antd-management-fast-framework/src/pages/Dashboard/models/chart.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update pages
  packages/antd-management-fast-framework/src/utils/requestAssistor.js
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/Assist/action.js
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Assist/action.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update simple
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/PageList/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/utils/request.js
  packages/antd-management-fast-framework/src/utils/requestAssistor.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: 调整调试日志输出
  packages/antd-management-fast-framework/src/utils/requestAssistor.js
  packages/antd-management-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update log
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/utils/requestAssistor.js
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/utils/request.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: change resuest
  packages/antd-management-fast-framework/src/utils/request.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/framework/AuthorizationWrapper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Path conditions:
  stylelint --syntax less: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
