Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

.lintstagedrc:

{
  "**/*.less": "stylelint --syntax less",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

refactor: update
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/ContentView/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/ContentView/index.less
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/GalaxyNote8/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/IPhone5S/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/Iphone8/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/Iphone8plus/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/IphoneX/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/MobilePreviewArea/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/RoughSketch/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/RoughSketch/index.less
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.jsx
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/src/customConfig/constants.js
  packages/simple-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/MediaType/index.jsx
  packages/simple-antd-management-fast-framework/src/models/global.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Add/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/AddMediaItemDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Common/data.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/MediaInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/MobilePreviewBox/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/UpdateMediaItemDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/services/article.js
  packages/simple-antd-management-fast-framework/src/services/global.js
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

chore(antd-management-fast-framework): version
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package-lock.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor: update
  .vscode/settings.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/configGroup/webpackPlugin.js
  packages/antd-management-fast-framework/src/customComponents/Editor/BraftEditorWrapper.7z
  packages/antd-management-fast-framework/src/customComponents/Editor/TinymceWrapper/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/antd-management-fast-framework/src/utils/defaultSettingsSpecial.js
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/public/interactionConfig/initRemote.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/MediaItemPreviewDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/MobilePreviewBox/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

perf: update
  packages/antd-management-fast-framework/src/customComponents/Editor/TinymceWrapper/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/antd-management-fast-framework/src/utils/defaultSettingsSpecial.js
  packages/simple-antd-management-fast-framework/public/interactionConfig/initRemote.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/customComponents/Editor/TinymceWrapper/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

perf: update
  packages/antd-management-fast-framework/src/customComponents/Editor/TinymceWrapper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/customComponents/Editor/TinymceWrapper/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  .vscode/settings.json
  package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/customComponents/Editor/TinymceWrapper/index.jsx
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataCore/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

perf: update
  packages/antd-management-fast-framework/src/utils/constants.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

perf: update
  document/upgrage.text
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataCore/index.jsx
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Add/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/SingleList/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  package.json
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

style: upadte
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/utils/mediaDefault.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat: 手机预览增加alert提示组件，调整示例
  packages/antd-management-fast-framework/src/customComponents/Editor/TinymceWrapper/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/ContentView/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/ContentView/index.less
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/GalaxyNote8/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/IPhone5S/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/Iphone8/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/Iphone8plus/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/IphoneX/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/RoughSketch/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/RoughSketch/index.less
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/MobilePreviewArea/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/MobilePreviewDrawer/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/RoughSketch/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/simple-antd-management-fast-framework/config/router.config.js
  packages/simple-antd-management-fast-framework/src/customConfig/accessWayCollection.js
  packages/simple-antd-management-fast-framework/src/locales/zh-CN/menu.js
  packages/simple-antd-management-fast-framework/src/pages/Article/ContentPreviewBox/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/ContentPreviewDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/ContentInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

perf: update dependences
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor: update
  packages/simple-antd-management-fast-framework/src/pages/Article/ContentPreviewBox/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/ContentPreviewDrawer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/MobileHtmlPreviewBox/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/ContentPreviewBox/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/ContentInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged
