Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

.lintstagedrc:

{
  "**/*.less": "stylelint --syntax less",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

docs(antd-management-fast-cli): udate
  .vscode/settings.json
  packages/antd-management-fast-framework/config/rollupConfig.js
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/customComponents/Authorized/CheckPermissions.jsx
  packages/antd-management-fast-framework/src/customComponents/Authorized/PromiseRender.jsx
  packages/antd-management-fast-framework/src/customComponents/Authorized/Secured.jsx
  packages/antd-management-fast-framework/src/customComponents/FunctionSupplement/Whether/index.jsx
  packages/antd-management-fast-framework/src/customComponents/_utils/pathTools.js
  packages/antd-management-fast-framework/src/customComponents/_utils/pathTools.test.js
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/utils/actionAssist.js
  packages/antd-management-fast-framework/src/utils/appConfiguration.js
  packages/antd-management-fast-framework/src/utils/cacheAssist.js
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/antd-management-fast-framework/src/utils/core.js
  packages/antd-management-fast-framework/src/utils/developAssist.js
  packages/antd-management-fast-framework/src/utils/log.js
  packages/antd-management-fast-framework/src/utils/requestAssistor.js
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/antd-management-fast-framework/src/utils/typeCheck.js
  packages/antd-management-fast-framework/src/utils/typeConvert.js
  packages/antd-management-fast-framework/src/utils/utils.js
  packages/antd-management-fast-rollup/rollupAssist/configBuilder.js
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/src/customSpecialComponents/ArticleStatus/index.jsx
  packages/simple-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/AccessWayStatus/index.jsx
  packages/simple-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/ArticleRenderType/index.jsx
  packages/simple-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/ArticleStatus/index.jsx
  packages/simple-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/MediaType/index.jsx
  packages/simple-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/Rank/index.jsx
  packages/simple-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/WebChannel/index.jsx
  packages/simple-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/Whether/index.jsx
  packages/simple-antd-management-fast-framework/src/layouts/BasicLayout.jsx
  packages/simple-antd-management-fast-framework/src/models/entrance.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/src/utils/core.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  .vscode/settings.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-rollup/rollupAssist/configBuilder.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-component/config/rollupConfig.js
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/customComponents/Base/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-rollup/rollupAssist/configBuilder.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/es/utils/appConfiguration.js
  packages/antd-management-fast-component/config/rollupConfig.js
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-rollup/rollupAssist/configBuilder.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  .gitignore
  packages/antd-management-fast-common/.gitignore
  packages/antd-management-fast-common/es/appConfiguration.d.ts
  packages/antd-management-fast-common/es/cacheAssist.d.ts
  packages/antd-management-fast-common/es/constants.d.ts
  packages/antd-management-fast-common/es/constants.js
  packages/antd-management-fast-common/es/core.d.ts
  packages/antd-management-fast-common/es/defaultSettingsSpecial.d.ts
  packages/antd-management-fast-common/es/developAssist.d.ts
  packages/antd-management-fast-common/es/globalModel.d.ts
  packages/antd-management-fast-common/es/globalStorageAssist.d.ts
  packages/antd-management-fast-common/es/localStorageAssist.d.ts
  packages/antd-management-fast-common/es/log.d.ts
  packages/antd-management-fast-common/es/mediaDefault.d.ts
  packages/antd-management-fast-common/es/sessionStorageAssist.d.ts
  packages/antd-management-fast-common/es/tools.d.ts
  packages/antd-management-fast-common/es/typeCheck.d.ts
  packages/antd-management-fast-common/es/typeConvert.d.ts
  packages/antd-management-fast-common/es/utils/appConfiguration.js
  packages/antd-management-fast-common/es/utils/cacheAssist.js
  packages/antd-management-fast-common/es/utils/constants.js
  packages/antd-management-fast-common/es/utils/core.js
  packages/antd-management-fast-common/es/utils/defaultSettingsSpecial.js
  packages/antd-management-fast-common/es/utils/developAssist.js
  packages/antd-management-fast-common/es/utils/globalStorageAssist.js
  packages/antd-management-fast-common/es/utils/localStorageAssist.js
  packages/antd-management-fast-common/es/utils/mediaDefault.js
  packages/antd-management-fast-common/es/utils/sessionStorageAssist.js
  packages/antd-management-fast-common/es/utils/tools.js
  packages/antd-management-fast-common/es/utils/typeCheck.js
  packages/antd-management-fast-common/es/utils/typeConvert.js
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/tsconfig.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-rollup/package.json
  packages/antd-management-fast-rollup/rollupAssist/configBuilder.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  .gitignore
  packages/antd-management-fast-common/config/rollupConfig.js
  packages/antd-management-fast-common/src/utils/requestAssistor.js
  packages/antd-management-fast-common/tsconfig.json
  packages/antd-management-fast-component/.gitignore
  packages/antd-management-fast-component/config/rollupConfig.js
  packages/antd-management-fast-component/tsconfig.json
  packages/antd-management-fast-framework/.gitignore
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/tsconfig.json
  packages/antd-management-fast-framework1/.gitignore
  packages/antd-management-fast-rollup/rollupAssist/configBuilder.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

revert(antd-management-fast-cli): update
  packages/antd-management-fast-framework/config/rollupConfig.js
  packages/antd-management-fast-framework/src/configGroup/configGeneral.js
  packages/antd-management-fast-framework/src/configGroup/themeCollection.js
  packages/antd-management-fast-framework/src/configGroup/webpackPlugin.js
  packages/antd-management-fast-framework1/src/configGroup/themeCollection.js
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

feat(antd-management-fast-cli): update
  packages/antd-management-fast-framework/.editorconfig
  packages/example-antd-management-fast-framework/.editorconfig
  packages/example-antd-management-fast-framework/.eslintignore
  packages/example-antd-management-fast-framework/.eslintrc.js
  packages/example-antd-management-fast-framework/.gitattributes
  packages/example-antd-management-fast-framework/.gitignore
  packages/example-antd-management-fast-framework/.lintstagedrc
  packages/example-antd-management-fast-framework/.prettierignore
  packages/example-antd-management-fast-framework/.prettierrc.js
  packages/example-antd-management-fast-framework/.stylelintignore
  packages/example-antd-management-fast-framework/.stylelintrc.js
  packages/example-antd-management-fast-framework/babel.config.js
  packages/example-antd-management-fast-framework/config/config.development.js
  packages/example-antd-management-fast-framework/config/config.js
  packages/example-antd-management-fast-framework/config/config.local.js
  packages/example-antd-management-fast-framework/config/config.production.js
  packages/example-antd-management-fast-framework/config/extraScript.development.js
  packages/example-antd-management-fast-framework/config/extraScript.js
  packages/example-antd-management-fast-framework/config/extraScript.production.js
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/config/theme.config.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/access.js
  packages/example-antd-management-fast-framework/src/app.js
  packages/example-antd-management-fast-framework/src/components/Guide/Guide.jsx
  packages/example-antd-management-fast-framework/src/components/Guide/Guide.less
  packages/example-antd-management-fast-framework/src/components/Guide/index.js
  packages/example-antd-management-fast-framework/src/constants/index.js
  packages/example-antd-management-fast-framework/src/models/global.js
  packages/example-antd-management-fast-framework/src/pages/Access/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Home/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Home/index.less
  packages/example-antd-management-fast-framework/src/pages/Table/components/CreateForm.jsx
  packages/example-antd-management-fast-framework/src/pages/Table/components/UpdateForm.jsx
  packages/example-antd-management-fast-framework/src/pages/Table/index.jsx
  packages/example-antd-management-fast-framework/src/services/demo/UserController.js
  packages/example-antd-management-fast-framework/src/services/demo/index.js
  packages/example-antd-management-fast-framework/tsconfig.json
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  package.json
  packages/example-antd-management-fast-framework/src/pages/Home/index.jsx
  packages/example-antd-management-fast-framework/tsconfig.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

docs(antd-management-fast-cli): update
  .vscode/settings.json
  packages/antd-management-fast-common-test/.eslintignore
  packages/antd-management-fast-common-test/.eslintrc.js
  packages/antd-management-fast-common-test/.prettierrc.js
  packages/antd-management-fast-common-test/babel.config.js
  packages/antd-management-fast-common-test/jest.config.json
  packages/antd-management-fast-common-test/package.json
  packages/antd-management-fast-common-test/test/trim.test.js
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-rollup/rollupAssist/configBuilder.js
  packages/example-antd-management-fast-framework/babel.config.js
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/pages/Home/index.jsx
  packages/example-antd-management-fast-framework/src/utils/format.js
  packages/example-antd-management-fast-framework/tsconfig.json
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  .vscode/settings.json
  packages/example-antd-management-fast-framework/config/config.js
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/constants/index.js
  packages/example-antd-management-fast-framework/src/pages/Home/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Table/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/configGroup/configGeneral.js
  packages/example-antd-management-fast-framework/config/config.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  .vscode/settings.json
  packages/antd-management-fast-common/config/rollupConfig.js
  packages/antd-management-fast-common/src/utils/dva.js
  packages/antd-management-fast-common/src/utils/tools.js
  packages/antd-management-fast-framework/src/configGroup/configGeneral.js
  packages/example-antd-management-fast-framework/config/config.js
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/src/defaultSettings.js
  packages/example-antd-management-fast-framework/src/layouts/EntranceLayout/index.jsx
  packages/example-antd-management-fast-framework/src/layouts/EntranceLayout/index.less
  packages/example-antd-management-fast-framework/src/loading.jsx
  packages/example-antd-management-fast-framework/src/pages/Entrance/Assist/action.js
  packages/example-antd-management-fast-framework/src/pages/Entrance/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/configGroup/configGeneral.js
  packages/antd-management-fast-framework1/package.json
  packages/example-antd-management-fast-framework/config/config.js
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/src/layouts/BasicLayout/index.jsx
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/src/components/Guide/Guide.jsx
  packages/example-antd-management-fast-framework/src/components/Guide/Guide.less
  packages/example-antd-management-fast-framework/src/components/Guide/index.js
  packages/example-antd-management-fast-framework/src/pages/Access/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Home/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Home/index.less
  packages/example-antd-management-fast-framework/src/pages/Table/components/CreateForm.jsx
  packages/example-antd-management-fast-framework/src/pages/Table/components/UpdateForm.jsx
  packages/example-antd-management-fast-framework/src/pages/Table/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-component/src/customComponents/Icon/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Entrance/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-component/src/customComponents/Icon/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/rollup.config-1672801591314.cjs
  packages/antd-management-fast-common/src/utils/tools.js
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionComponent/index.js
  packages/example-antd-management-fast-framework/src/layouts/BasicLayout/index.jsx
  packages/example-antd-management-fast-framework/src/layouts/EntranceLayout/index.jsx
  packages/example-antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/src/customSpecialComponents/FunctionComponent/index.js
  packages/simple-antd-management-fast-framework/src/global.jsx
  packages/simple-antd-management-fast-framework/src/layouts/BasicLayout.jsx
  packages/simple-antd-management-fast-framework/src/layouts/EntranceLayout.jsx
  packages/simple-antd-management-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/rollup.config-1672801591314.cjs
  packages/antd-management-fast-common/src/utils/tools.js
  packages/antd-management-fast-framework/src/configGroup/configGeneral.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-component/src/customComponents/ActiveChart/index.jsx
  packages/antd-management-fast-component/src/customComponents/AnimalBox/FadeBox/index.jsx
  packages/antd-management-fast-component/src/customComponents/AnimalBox/QueueBox/index.jsx
  packages/antd-management-fast-component/src/customComponents/AnimalBox/QueueListBox/index.jsx
  packages/antd-management-fast-component/src/customComponents/AnimalBox/RotateBox/index.jsx
  packages/antd-management-fast-component/src/customComponents/ArticleListContent/index.jsx
  packages/antd-management-fast-component/src/customComponents/AudioUpload/index.jsx
  packages/antd-management-fast-component/src/customComponents/Authorized/Authorized.jsx
  packages/antd-management-fast-component/src/customComponents/Authorized/AuthorizedRoute.jsx
  packages/antd-management-fast-component/src/customComponents/Authorized/CheckPermissions.jsx
  packages/antd-management-fast-component/src/customComponents/CenterBox/index.jsx
  packages/antd-management-fast-component/src/customComponents/Charts/Bar/index.jsx
  packages/antd-management-fast-component/src/customComponents/Charts/Field/index.jsx
  packages/antd-management-fast-component/src/customComponents/Charts/Gauge/index.jsx
  packages/antd-management-fast-component/src/customComponents/Charts/MiniArea/index.jsx
  packages/antd-management-fast-component/src/customComponents/Charts/MiniBar/index.jsx
  packages/antd-management-fast-component/src/customComponents/Charts/MiniProgress/index.jsx
  packages/antd-management-fast-component/src/customComponents/Charts/Pie/index.jsx
  packages/antd-management-fast-component/src/customComponents/Charts/TagCloud/index.jsx
  packages/antd-management-fast-component/src/customComponents/Charts/TimelineChart/index.jsx
  packages/antd-management-fast-component/src/customComponents/Charts/WaterWave/index.jsx
  packages/antd-management-fast-component/src/customComponents/ColorText/index.jsx
  packages/antd-management-fast-component/src/customComponents/DecorateAvatar/index.jsx
  packages/antd-management-fast-component/src/customComponents/DisplayCopyData/index.js
  packages/antd-management-fast-component/src/customComponents/EditableItem/index.jsx
  packages/antd-management-fast-component/src/customComponents/EditableLinkGroup/index.jsx
  packages/antd-management-fast-component/src/customComponents/Ellipsis/index.jsx
  packages/antd-management-fast-component/src/customComponents/EllipsisCustom/index.jsx
  packages/antd-management-fast-component/src/customComponents/IconInfo/index.jsx
  packages/antd-management-fast-component/src/customComponents/IconInfo/index.less
  packages/antd-management-fast-component/src/customComponents/VerticalBox/index.jsx
  packages/antd-management-fast-component/src/customComponents/VerticalBox/index.less
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-component/src/customComponents/Ellipsis/index.jsx
  packages/antd-management-fast-component/src/customComponents/Ellipsis/index.less
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/src/layouts1/BasicLayout/index.jsx
  packages/example-antd-management-fast-framework/src/layouts1/EntranceLayout/index.jsx
  packages/example-antd-management-fast-framework/src/layouts1/EntranceLayout/index.less
  packages/example-antd-management-fast-framework/src/pages/Entrance/Container/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Entrance/Container/index.less
  packages/example-antd-management-fast-framework/src/pages/Entrance/SignIn/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Entrance/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  .vscode/tasks.json
  packages/antd-management-fast-common/config/rollupConfig.js
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/antd-management-fast-common/src/customComponents/global.less
  packages/antd-management-fast-common/src/customComponents/index.jsx
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-common/src/utils/modelAssist.js
  packages/antd-management-fast-common/src/utils/tools.js
  packages/antd-management-fast-common/src/utils/typeCheck.js
  packages/example-antd-management-fast-framework/src/pages/Entrance/Container/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Entrance/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  .vscode/settings.json
  .vscode/tasks.json
  packages/antd-management-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/antd-management-fast-component/config/rollupConfig.js
  packages/antd-management-fast-component/src/customComponents/Base/index.jsx
  packages/antd-management-fast-component/src/customComponents/BaseComponent/index.jsx
  packages/antd-management-fast-component/src/customComponents/TimeLineCustom/index.jsx
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/Core/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMenuContainer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Entrance/Container/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/ContentInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/example-antd-management-fast-framework/src/pages/Entrance/Container/index.less
  packages/example-antd-management-fast-framework/src/pages/Entrance/Wrapper/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Entrance/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): uipdate
  packages/example-antd-management-fast-framework/src/pages/Entrance/SignIn/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Entrance/Wrapper/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Entrance/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): upda
  packages/antd-management-fast-common/src/customComponents/global.less
  packages/antd-management-fast-common/src/utils/actionAssist.js
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-common/src/utils/dva.js
  packages/antd-management-fast-common/src/utils/request.js
  packages/antd-management-fast-common/src/utils/requestAssistor.js
  packages/antd-management-fast-common/src/utils/typeConvert.js
  packages/antd-management-fast-common/src/utils/virtualRequest.js
  packages/example-antd-management-fast-framework/config/config.js
  packages/example-antd-management-fast-framework/src/app.js
  packages/example-antd-management-fast-framework/src/app.less
  packages/example-antd-management-fast-framework/src/models/entrance.js
  packages/example-antd-management-fast-framework/src/pages/Entrance/SignIn/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Entrance/Wrapper/index.jsx
  packages/example-antd-management-fast-framework/src/services/entrance.js
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/src/utils/requestAssistor.js
  packages/example-antd-management-fast-framework/src/global.jsx
  packages/example-antd-management-fast-framework/src/models/accessWay.js
  packages/example-antd-management-fast-framework/src/models/article.js
  packages/example-antd-management-fast-framework/src/models/currentOperator.js
  packages/example-antd-management-fast-framework/src/models/currentSystem.js
  packages/example-antd-management-fast-framework/src/models/flowEditor.js
  packages/example-antd-management-fast-framework/src/models/global.js
  packages/example-antd-management-fast-framework/src/models/notice.js
  packages/example-antd-management-fast-framework/src/models/setting.js
  packages/example-antd-management-fast-framework/src/pages/Entrance/Assist/action.js
  packages/simple-antd-management-fast-framework/src/models/accessWay.js
  packages/simple-antd-management-fast-framework/src/models/article.js
  packages/simple-antd-management-fast-framework/src/models/currentOperator.js
  packages/simple-antd-management-fast-framework/src/models/currentSystem.js
  packages/simple-antd-management-fast-framework/src/models/entrance.js
  packages/simple-antd-management-fast-framework/src/models/flowEditor.js
  packages/simple-antd-management-fast-framework/src/models/global.js
  packages/simple-antd-management-fast-framework/src/models/notice.js
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/Assist/action.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Assist/action.js
  packages/simple-antd-management-fast-framework/src/pages/Entrance/Assist/action.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged
