Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Publish
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

feat: add form extra config
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Add/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Password/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update script
  package.json
Due: prettier --write

feat: update code
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update code
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: add util tools function getValueByKey
  packages/antd-management-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/antd-management-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update framework form initValue process
  package.json
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseAddDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseAddModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseWindow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataCore/index.jsx
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/utils/requestAssistor.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Add/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/MediaInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/UpdateMediaItemDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Base/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Password/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/simple-antd-management-fast-framework/src/pages/Article/Add/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Publish
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

feat: update
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseAddDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseAddModal/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseAddDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseAddModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataCore/index.jsx
  packages/simple-antd-management-fast-framework/src/customConfig/accessWayCollection.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Add/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/MediaItemPreviewDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/UpdateMediaItemDrawer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/framework/DataOperation/Base/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseAddDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseNeedlessLoadDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseAddModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseNeedlessLoadModal/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseAddDrawer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/utils/actionAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

feat: update
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/customComponents/AnimalBox/FadeBox/index.jsx
  packages/antd-management-fast-framework/src/customComponents/AnimalBox/FadeBox/index.less
  packages/antd-management-fast-framework/src/customComponents/AnimalBox/QueueBox/index.jsx
  packages/antd-management-fast-framework/src/customComponents/AnimalBox/QueueBox/index.less
  packages/antd-management-fast-framework/src/customComponents/Authorized/Authorized.jsx
  packages/antd-management-fast-framework/src/customComponents/Authorized/AuthorizedRoute.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Add/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/MediaInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/customComponents/DataPreviewDrawer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Path conditions:
  stylelint --syntax less: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
