Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Publish
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

feat: update
  packages/antd-management-fast-framework/src/utils/proLayoutCollection.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/framework/Base/index.jsx
  packages/antd-management-fast-framework/src/utils/proLayoutCollection.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update css
  packages/antd-management-fast-framework/.stylelintrc.js
  packages/antd-management-fast-framework/src/customComponents/Ellipsis/index.less
  packages/antd-management-fast-framework/src/customComponents/EllipsisCustom/index.less
  packages/simple-antd-management-fast-framework/.stylelintrc.js
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/services/article.js
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update load
  packages/antd-management-fast-framework/src/utils/actionAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

refactor(update dependences and commitLine): update dependences and commitLine
  .czrc
  commitlint.config.js
  package.json
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/documents/init.md
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

docs(adjust commit help text): adjust commit help text
  commitlint.config.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

docs: update
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

docs: update
  .husky/commit-msg
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

docs: update
  package.json
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

update
  commitlint.config.js
  package.json
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

docs(antd-management-fast-framework): update
  commitlint.config.js
  package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

docs(antd-management-fast-framework): update
  .husky/pre-commit
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

docs: update
  .husky/commit-msg
  package.json
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

docs(antd-management-fast-framework): update
  package.json
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

docs(antd-management-fast-framework): update
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

feat(antd-management-fast-framework): update
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

docs(antd-management-fast-framework): update
  package.json
Due: prettier --write

docs(antd-management-fast-framework): update
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

docs(antd-management-fast-framework): update
  lerna.json
  package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

docs(antd-management-fast-framework): update
  lerna.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

chore(antd-management-fast-framework): update
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

docs(antd-management-fast-framework): update
  lerna.json
Due: prettier --write

docs(antd-management-fast-framework): update
  packages/antd-management-fast-framework/src/utils/constants.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

chore(antd-management-fast-framework): publish
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

docs(antd-management-fast-framework): update
  lerna.json
  packages/antd-management-fast-framework/src/utils/constants.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Path conditions:
  stylelint --syntax less: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
