Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/framework/Common/InternalBuild/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/components/ModalExtra/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseSelectModal/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseVerticalFlexDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/index.jsx
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/generatorConfig/code.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/businessComponents/Drawers/SimpleVerticalFlexDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/businessComponents/Drawers/SimpleVerticalFlexDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/FlexBox/index.jsx
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseVerticalFlexDrawer/index.jsx
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/businessComponents/Drawers/SimpleVerticalFlexDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/businessComponents/Drawers/SimpleVerticalFlexDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Entrance/Wrapper/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/codeSource.js
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  packages/example-remote/src/pages/Entrance/Wrapper/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseVerticalFlexDrawer/index.jsx
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/businessComponents/Drawers/SimpleVerticalFlexDrawer/codeSource.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/SchemaDisplayer/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/AudioUpload/index.jsx
  packages/antd-management-fast-component/src/components/FileUpload/index.jsx
  packages/antd-management-fast-component/src/components/ImageUpload/index.jsx
  packages/antd-management-fast-component/src/components/VideoUpload/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/AudioUpload/index.jsx
  packages/antd-management-fast-component/src/components/FileUpload/index.jsx
  packages/antd-management-fast-component/src/components/VideoUpload/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/PageExtra/CardCollectionItemContent/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/FileBase64Upload/index.jsx
  packages/antd-management-fast-component/src/components/PageExtra/CardCollectionItemContent/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/AudioUpload/index.jsx
  packages/antd-management-fast-component/src/components/FileBase64Upload/index.jsx
  packages/antd-management-fast-component/src/components/FileUpload/index.jsx
  packages/antd-management-fast-component/src/components/ImageUpload/index.jsx
  packages/antd-management-fast-component/src/components/VideoUpload/index.jsx
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/CustomWrapper/SupplementCore/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/utils/applicationListDataAssist.js
  packages/antd-management-fast-framework/src/utils/metaDataAssist.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/components/DrawerExtra/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/ImageUpload/index.jsx
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-formily/src/components/designable/formily-antd/setters/components/DataSourceSetter/index.jsx
  packages/antd-management-fast-formily/src/components/designable/formily-antd/setters/components/ReactionsSetter/index.jsx
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/components/ModalExtra/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageModal/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/components/FunctionComponent/ComponentBuilder/index.jsx
  packages/antd-management-fast-framework/src/components/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/components/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalBuild/index.jsx
  packages/antd-management-fast-framework/src/utils/metaDataAssist.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-charts/tsconfig.types.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/tsconfig.types.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/tsconfig.types.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-config/tsconfig.json
  packages/antd-management-fast-config/tsconfig.types.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/tsconfig.types.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-design-react/tsconfig.types.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-develop/tsconfig.json
  packages/antd-management-fast-develop/tsconfig.types.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-formily/tsconfig.types.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/utils/metaDataAssist.js
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/utils/metaDataAssist.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/FunctionComponent/ComponentBuilder/index.jsx
  packages/antd-management-fast-component/src/components/StatusBar/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/config/rollup/configBuilder.js
  develop/flags/commit.flag.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/config/rollupConfig.js
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/config/rollupConfig.js
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/config/rollupConfig.js
  packages/antd-management-fast-formily/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-flow/src/components/Flow/EndNode/index.jsx
  packages/antd-management-fast-flow/src/components/Flow/GraphicDescription/index.jsx
  packages/antd-management-fast-flow/src/components/Flow/GraphicHelper/index.jsx
  packages/antd-management-fast-flow/src/components/Flow/IntermediateNode/index.jsx
  packages/antd-management-fast-flow/src/components/Flow/StartNode/index.jsx
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/generatorConfig/code.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/global.less
  packages/example-antd-management-fast-framework/src/locales/zh-CN/menu.js
  packages/example-antd-management-fast-framework/src/pages/Form/FlowView/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Form/FlowView/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  .vscode/settings.json
  develop/flags/commit.flag.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-flow/src/components/Flow/EndNode/index.jsx
  packages/antd-management-fast-flow/src/components/Flow/IntermediateNode/index.jsx
  packages/antd-management-fast-flow/src/components/Flow/StartNode/index.jsx
  packages/antd-management-fast-flow/src/components/Flow/constant.js
  packages/antd-management-fast-flow/src/components/Flow/index.less
  packages/antd-management-fast-flow/src/components/Flow/node.less
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/pages/Form/FlowView/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Form/FlowView/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-flow/src/components/Flow/index.jsx
  packages/antd-management-fast-flow/src/components/Flow/index.less
  packages/antd-management-fast-flow/src/components/Flow/node.less
  packages/antd-management-fast-flow/src/components/Flow/variable.less
  packages/antd-management-fast-flow/src/components/FlowProcessHistory/index.jsx
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/pages/Form/FlowView/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Form/FlowView/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/pages/Form/FlowView/codeSource.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/PageExtra/ContentBox/index.jsx
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/Common/InternalLayout/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/components/TranslateLocale/index.jsx
  packages/antd-management-fast-common/src/components/index.jsx
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/PageExtra/PageWrapper/index.jsx
  packages/antd-management-fast-component/src/index.less
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/components/MenuWrapper/index.jsx
  packages/antd-management-fast-framework/src/components/PageExtraWrapper/index.jsx
  packages/antd-management-fast-framework/src/components/ShortcutNavigation/index.jsx
  packages/antd-management-fast-framework/src/components/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalSwitchoverFlow/index.jsx
  packages/antd-management-fast-framework/src/modelBuilders/index.js
  packages/antd-management-fast-framework/src/modelBuilders/shortcutControl.js
  packages/antd-management-fast-framework/src/utils/interfaceSettingAssist.jsx
  packages/antd-management-fast-framework/src/utils/menuControlAssist.js
  packages/antd-management-fast-framework/src/utils/shortcutControlAssist.js
  packages/antd-management-fast-framework/src/utils/tabControlAssist.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/components/ShortcutNavigation/index.jsx
  packages/antd-management-fast-framework/src/modelBuilders/shortcutControl.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/modelBuilders/shortcutControl.js
  packages/antd-management-fast-framework/src/utils/shortcutControlAssist.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPage/index.jsx
  packages/antd-management-fast-framework/src/modelBuilders/shortcutControl.js
  packages/antd-management-fast-framework/src/utils/shortcutControlAssist.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

Path conditions:
  npx prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
