Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-framework): update
  .vscode/settings.json
Due: prettier --write

refactor(antd-management-fast-framework): update
  .gitattributes
  packages/antd-management-fast-framework/.gitattributes
  packages/simple-antd-management-fast-framework/.gitattributes
Due: none

refactor(antd-management-fast-framework): update
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageSelectDrawer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-framework): update
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

chore(antd-management-fast-framework): version
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package-lock.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor(antd-management-fast-framework): update
  packages/antd-management-fast-framework/package.json
Due: prettier --write

refactor(antd-management-fast-cli): update
  package.json
  packages/antd-management-fast-cli/README.md
  packages/antd-management-fast-cli/bin/cli-generate.js
  packages/antd-management-fast-cli/bin/cli.js
  packages/antd-management-fast-cli/package.json
  packages/antd-management-fast-cli/src/generate.js
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/antd-management-fast-framework/src/utils/defaultSettingsSpecial.js
  packages/antd-management-fast-framework/src/utils/request.js
  packages/antd-management-fast-framework/src/utils/requestAssistor.js
  packages/antd-management-fast-framework/src/utils/virtualRequest.js
  packages/simple-antd-management-fast-framework/config/router.config.js
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/public/interactionConfig/initRemote.js
  packages/simple-antd-management-fast-framework/src/layouts/BasicLayout.jsx
  packages/simple-antd-management-fast-framework/src/layouts/SecurityLayout.jsx
  packages/simple-antd-management-fast-framework/src/models/entrance.js
  packages/simple-antd-management-fast-framework/src/pages/Authorized.jsx
  packages/simple-antd-management-fast-framework/src/pages/Entrance/components/EntranceContext.jsx
  packages/simple-antd-management-fast-framework/src/pages/Entrance/components/EntranceItem.jsx
  packages/simple-antd-management-fast-framework/src/pages/Entrance/components/EntranceSubmit.jsx
  packages/simple-antd-management-fast-framework/src/pages/Entrance/components/EntranceTab.jsx
  packages/simple-antd-management-fast-framework/src/pages/Entrance/components/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Entrance/components/index.less
  packages/simple-antd-management-fast-framework/src/pages/Entrance/components/map.jsx
  packages/simple-antd-management-fast-framework/src/pages/Entrance/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Entrance/style.less
  packages/simple-antd-management-fast-framework/src/services/entrance.js
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): upddate
  packages/simple-antd-management-fast-framework/src/customConfig/accessWayCollection.js
  packages/simple-antd-management-fast-framework/src/customSpecialComponents/CustomAssembly/index.js
  packages/simple-antd-management-fast-framework/src/locales/zh-CN/menu.js
  packages/simple-antd-management-fast-framework/src/locales/zh-TW/menu.js
  packages/simple-antd-management-fast-framework/src/models/dashboard.js
  packages/simple-antd-management-fast-framework/src/services/dashboard.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/simple-antd-management-fast-framework/config/router.config.js
  packages/simple-antd-management-fast-framework/src/components/GlobalHeader/AvatarDropdown.jsx
  packages/simple-antd-management-fast-framework/src/layouts/EntranceLayout.jsx
  packages/simple-antd-management-fast-framework/src/layouts/EntranceLayout.less
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/customComponents/Entrance/EntranceContext.jsx
  packages/antd-management-fast-framework/src/customComponents/Entrance/EntranceItem.jsx
  packages/antd-management-fast-framework/src/customComponents/Entrance/EntranceSubmit.jsx
  packages/antd-management-fast-framework/src/customComponents/Entrance/EntranceTab.jsx
  packages/antd-management-fast-framework/src/customComponents/Entrance/index.jsx
  packages/antd-management-fast-framework/src/customComponents/Entrance/index.less
  packages/antd-management-fast-framework/src/customComponents/Entrance/map.jsx
  packages/antd-management-fast-framework/src/utils/requestAssistor.js
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/config/router.config.js
  packages/simple-antd-management-fast-framework/documents/function_supplement_config.json
  packages/simple-antd-management-fast-framework/documents/init.md
  packages/simple-antd-management-fast-framework/lib/simple.js
  packages/simple-antd-management-fast-framework/src/components/GlobalHeader/AvatarDropdown.jsx
  packages/simple-antd-management-fast-framework/src/models/entrance.js
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Binding/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Geographic/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Geographic/index.less
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Info/Info.js
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Info/index.less
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Notification/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Phone/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Phone/index.less
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Security/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Entrance/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.less
Due: stylelint --syntax less, prettier --write, stylelint

chore(antd-management-fast-framework): version
  packages/antd-management-fast-cli/CHANGELOG.md
  packages/antd-management-fast-cli/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package-lock.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor(antd-management-fast-cli): update
  packages/simple-antd-management-fast-framework/src/models/global.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/simple-antd-management-fast-framework/src/models/currentOperator.js
  packages/simple-antd-management-fast-framework/src/services/currentOperator.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/simple-antd-management-fast-framework/src/components/GlobalHeader/AvatarDropdown.jsx
  packages/simple-antd-management-fast-framework/src/components/GlobalHeader/NoticeIconView.jsx
  packages/simple-antd-management-fast-framework/src/components/GlobalHeader/RightContent.jsx
  packages/simple-antd-management-fast-framework/src/layouts/SecurityLayout.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/framework/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/utils/authority.js
  packages/simple-antd-management-fast-framework/src/components/GlobalHeader/RightContent.jsx
  packages/simple-antd-management-fast-framework/src/customConfig/customLoad.js
  packages/simple-antd-management-fast-framework/src/models/currentOperator.js
  packages/simple-antd-management-fast-framework/src/models/entrance.js
  packages/simple-antd-management-fast-framework/src/models/global.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/ContentInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  .vscode/settings.json
  packages/antd-management-fast-cli/bin/cli-generate.js
  packages/antd-management-fast-cli/bin/cli-init.js
  packages/antd-management-fast-cli/bin/cli.js
  packages/antd-management-fast-cli/package.json
  packages/antd-management-fast-cli/src/generate.js
  packages/antd-management-fast-cli/src/init.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-cli/bin/cli.js
  packages/antd-management-fast-cli/src/init.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-cli/package.json
  packages/antd-management-fast-cli/src/init.js
  packages/simple-antd-management-fast-framework/src/components/HeaderDropdown/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-cli/src/init.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  package.json
  packages/antd-management-fast-cli/bin/cli-init.js
  packages/antd-management-fast-cli/bin/cli.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

chore(antd-management-fast-framework): version
  packages/antd-management-fast-cli/CHANGELOG.md
  packages/antd-management-fast-cli/package.json
Due: prettier --write

docs(antd-management-fast-cli): update
  document/images/cli.png
  packages/antd-management-fast-cli/README.md
Due: prettier --write

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-cli/README.md
Due: prettier --write

perf(antd-management-fast-cli): update
  packages/antd-management-fast-cli/README.md
  packages/antd-management-fast-cli/cli.png
Due: prettier --write

style(antd-management-fast-cli): update dependences
  package.json
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/config/config.production.js
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-cli/package.json
Due: prettier --write

style(antd-management-fast-cli): update
  packages/antd-management-fast-cli/src/init.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  package.json
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  package.json
  packages/antd-management-fast-cli/bin/cli.js
  packages/antd-management-fast-framework/test/fixtures/normal/pages/index.css
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/public/home.css
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  .gitattributes
Due: none

Path conditions:
  stylelint --syntax less: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged: any of: **/*.{js,jsx,ts,tsx}
