Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

chore(antd-management-fast-framework): version
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor: update
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor: update
  .vscode/settings.json
  packages/antd-management-fast-framework/src/framework/DataMenuContainer/index.less
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Info/index.less
Due: stylelint --syntax less, prettier --write, stylelint

refactor: update
  packages/antd-management-fast-framework/src/utils/constants.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  .stylelintrc.js
  package.json
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/src/global.less
  packages/simple-antd-management-fast-framework/src/pages/Dashboard/Analysis/index.less
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

perf: update
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

perf: update
  .gitignore
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

perf: update
  packages/antd-management-fast-framework/.gitignore
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/.gitignore
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

perf: update
  .gitignore
  package-lock.json
  packages/antd-management-fast-framework/.gitignore
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/.gitignore
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package-lock.json
  packages/simple-antd-management-fast-framework/package.json
  yarn.lock
Due: prettier --write

perf: update
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

chore(antd-management-fast-framework): version
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package-lock.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor: update
  .vscode/settings.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/customComponents/ColorText/index.jsx
  packages/antd-management-fast-framework/src/customComponents/TimeLineCustom/index.jsx
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  yarn.lock
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

perf: update
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: updte
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/utils/tools.js
  yarn.lock
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/customComponents/ArticleListContent/index.jsx
  packages/antd-management-fast-framework/src/customComponents/NoticeIconCustom/demo/popover.md
  packages/antd-management-fast-framework/src/customComponents/TimeLineCustom/index.jsx
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/src/components/GlobalHeader/NoticeIconView.jsx
  packages/simple-antd-management-fast-framework/src/pages/Dashboard/Workplace.js
  packages/simple-antd-management-fast-framework/src/services/api.js
  yarn.lock
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/customComponents/ArticleListContent/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/customComponents/TimeLineCustom/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseNeedlessLoadDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseNeedlessLoadModal/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/Edit/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Dashboard/Analysis/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/simple-antd-management-fast-framework/config/plugin.config.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/simple-antd-management-fast-framework/package.json
  yarn.lock
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style: update
  yarn.lock
Due: none

style: update
  .gitignore
Due: none

perf: update
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

Path conditions:
  stylelint --syntax less: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged: any of: **/*.{js,jsx,ts,tsx}
