Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/MobileContainor/Devices/devices.less
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/components/HeaderSearch/index.less
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --stylelint-only, stylelint, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/components/FormExtra/SwitchItem/index.jsx
  packages/antd-management-fast-component/src/components/PageExtra/CardCollectionItemContent/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/components/FunctionSupplement/Whether/index.jsx
  packages/example-antd-management-fast-framework/src/pages/List/ListView/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/components/HelpCard/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalBuild/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.jsx
  packages/example-antd-management-fast-framework/src/businessComponents/Modals/SimpleAddModal/index.jsx
  packages/example-antd-management-fast-framework/src/businessComponents/Modals/SimpleEditModal/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/components/FunctionComponent/ComponentBuilder/index.jsx
  packages/example-antd-management-fast-framework/src/businessComponents/Modals/SimpleAddModal/codeSource.js
  packages/example-antd-management-fast-framework/src/businessComponents/Modals/SimpleEditModal/codeSource.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/components/DataPreviewDrawer/index.jsx
  packages/antd-management-fast-framework/src/components/DataPreviewDrawer/index.less
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.less
  packages/example-antd-management-fast-framework/src/businessData/data.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.jsx
  packages/example-antd-management-fast-framework/src/businessComponents/Modals/SimpleEditModal/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/codeSource.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/Icon/index.jsx
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/businessComponents/Modals/SimpleEditModal/codeSource.js
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/components/PageExtra/CardCollectionItemContent/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-common/src/utils/localStorageAssist.js
  packages/antd-management-fast-common/src/utils/settingAssist.js
  packages/antd-management-fast-framework/src/utils/configAssist.js
  packages/example-antd-management-fast-framework/public/interactionConfig/initLocal.development.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): updatre
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/DescriptionGrid/index.jsx
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/businessComponents/Modals/SimpleDisplayModal/codeSource.js
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): updaTE
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/FormExtra/SelectItem/index.jsx
  packages/antd-management-fast-component/src/components/Function/Select/index.jsx
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/DataModal/BaseSelectModal/index.jsx
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/businessComponents/Modals/SimpleSingleSelectModal/index.js
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): updarw
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/utils/actionAssist.js
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-config/src/configAssist.js
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/app.jsx
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
Due: npx prettier --cache --write, prettier --write

Path conditions:
  npx prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
