Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

.lintstagedrc:

{
  "**/*.less": "stylelint --syntax less",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

feat(antd-management-fast-cli): update
  package.json
Due: prettier --write

fix(antd-management-fast-cli): update
  cz.flag.json
  packages/antd-management-fast-common/src/index.jsx
  packages/antd-management-fast-common/src/utils/routeAssist.js
  packages/antd-management-fast-component/src/index.jsx
  packages/antd-management-fast-framework/src/index.jsx
  packages/antd-management-fast-framework/src/services/schedulingControl.js
  packages/antd-management-fast-framework/src/utils/appListDataAssist.js
  packages/antd-management-fast-framework/src/utils/applicationAssist.js
  packages/antd-management-fast-framework/src/utils/layoutSettingAssist.js
  packages/antd-management-fast-framework/src/utils/metaDataAssist.js
  packages/example-antd-management-fast-framework/src/customConfig/action.js
  packages/example-antd-management-fast-framework/src/customConfig/config.js
  packages/example-antd-management-fast-framework/src/customConfig/constants.js
  packages/example-antd-management-fast-framework/src/customConfig/customLoad.js
  packages/example-antd-management-fast-framework/src/customSpecialComponents/CustomAssembly/index.js
  packages/example-antd-management-fast-framework/src/pages/Article/Assist/action.js
  packages/example-antd-management-fast-framework/src/pages/Article/Assist/config.js
  packages/example-antd-management-fast-framework/src/pages/Article/Common/data.js
  packages/example-antd-management-fast-framework/src/pages/ArticleImage/Common/data.js
  packages/example-antd-management-fast-framework/src/pages/Entrance/Assist/action.js
  packages/example-antd-management-fast-framework/src/services/accessWay.js
  packages/example-antd-management-fast-framework/src/services/article.js
  packages/example-antd-management-fast-framework/src/services/currentOperator.js
  packages/example-antd-management-fast-framework/src/services/currentSystem.js
  packages/example-antd-management-fast-framework/src/services/entrance.js
  packages/example-antd-management-fast-framework/src/services/error.js
  packages/example-antd-management-fast-framework/src/services/flowEditor.js
  packages/example-antd-management-fast-framework/src/services/global.js
  packages/example-antd-management-fast-framework/src/services/notice.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-cli): update
  .lintstagedrc
  cz.flag.json
  develop/config/eslint/config/index.js
  develop/config/eslint/rules/index.js
  package.json
  packages/antd-management-fast-cli/src/env.js
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/utils/dva.js
  packages/antd-management-fast-common/src/utils/proLayoutCollection.jsx
  packages/antd-management-fast-common/src/utils/requestAssistor.js
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-test/package.json
  packages/example-antd-management-fast-framework/.lintstagedrc
  packages/example-antd-management-fast-framework/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-cli): update
  cz.flag.json
  develop/assists/cz.flag.json
  develop/assists/env.init.js
  develop/config/editor/template/content.js
  develop/config/eslint/rules/index.js
  develop/config/eslint/template/content.js
  develop/config/eslint/template/ignore.content.js
  develop/config/git/template/attributes.content.js
  develop/config/git/template/ignore.content.js
  develop/config/lintStaged/template/content.js
  develop/config/package/template/children.content.js
  develop/config/package/template/main.content.js
  develop/config/prettier/template/content.js
  develop/config/prettier/template/ignore.content.js
  develop/config/stylelint/template/content.js
  develop/config/stylelint/template/ignore.content.js
  package.json
  packages/antd-management-fast-cli/.lintstagedrc
  packages/antd-management-fast-cli/src/init.js
  packages/antd-management-fast-common/.lintstagedrc
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/.lintstagedrc
  packages/antd-management-fast-component/src/customComponents/Editor/index.js
  packages/antd-management-fast-component/src/customComponents/Editor/index.jsx
  packages/antd-management-fast-component/src/customComponents/FormCustom/FormCustomItem/index.jsx
  packages/antd-management-fast-component/src/customComponents/FormCustom/FormCustomItemChildren/index.jsx
  packages/antd-management-fast-component/src/customComponents/FormCustom/index.js
  packages/antd-management-fast-component/src/customComponents/FunctionSupplement/Whether/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionSupplement/index.js
  packages/antd-management-fast-component/src/customComponents/MobileContainor/index.js
  packages/antd-management-fast-component/src/customComponents/index.js
  packages/antd-management-fast-framework/.lintstagedrc
  packages/antd-management-fast-test/.lintstagedrc
  packages/example-antd-management-fast-framework/.lintstagedrc
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-cli): update
  cz.flag.json
  develop/assists/env.init.js
  develop/config/lintStaged/template/content.js
  develop/config/package/template/children.content.js
  package.json
  packages/antd-management-fast-cli/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-test/package.json
  packages/example-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-cli): update
  .vscode/settings.json
  cz.flag.json
  develop/assists/env.init.js
  develop/config/package/template/children.content.js
  develop/config/package/template/main.content.js
  package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-cli): update
  cz.flag.json
  develop/config/package/template/children.content.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-cli): update
  .vscode/tasks.json
  cz.flag.json
  develop/assists/env.init.js
  develop/config/package/template/children.content.js
  packages/antd-management-fast-cli/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/index.jsx
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/customComponents/AudioUpload/index.jsx
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-test/package.json
  packages/example-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-cli): update
  cz.flag.json
  develop/config/package/template/children.content.js
  packages/antd-management-fast-cli/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-test/package.json
  packages/example-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-cli): update
  cz.flag.json
  develop/config/package/template/main.content.js
  package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/customComponents/AbstractComponent/index.jsx
  packages/antd-management-fast-common/src/utils/appConfiguration.js
  packages/antd-management-fast-common/src/utils/authorityAssist.js
  packages/antd-management-fast-common/src/utils/core.js
  packages/antd-management-fast-common/src/utils/dva.js
  packages/antd-management-fast-common/src/utils/fitHandler.js
  packages/antd-management-fast-common/src/utils/localStorageAssist.js
  packages/antd-management-fast-common/src/utils/meta.js
  packages/antd-management-fast-common/src/utils/navigationAssist.js
  packages/antd-management-fast-common/src/utils/notificationAssist.js
  packages/antd-management-fast-common/src/utils/request.js
  packages/antd-management-fast-common/src/utils/requestAssistor.js
  packages/antd-management-fast-common/src/utils/routeAssist.js
  packages/antd-management-fast-common/src/utils/simulateRequest.js
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/example-antd-management-fast-framework/src/app.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/config/eslint/config/index.js
  develop/config/eslint/config/items/parser/embed.js
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-test/package.json
  packages/example-antd-management-fast-framework/.eslintignore
  packages/example-antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/config/eslint/config/index.js
  develop/config/eslint/config/items/parser/custom.js
  develop/config/eslint/config/items/parser/embed.js
  develop/config/eslint/config/items/parser/index.js
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/customComponents/AudioUpload/index.jsx
  packages/antd-management-fast-component/src/customComponents/FileUpload/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-component/src/customComponents/ImageUpload/index.jsx
  packages/antd-management-fast-component/src/customComponents/MobileContainor/MobileSimulation/index.jsx
  packages/antd-management-fast-component/src/customComponents/VideoUpload/index.jsx
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/FieldExtension/SelectFieldDrawer/SelectFieldInteractiveBase/index.jsx
  packages/antd-management-fast-test/package.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/components/GlobalHeader/NoticeIconView.jsx
  packages/example-antd-management-fast-framework/src/modelBuilders/global.js
  packages/example-antd-management-fast-framework/src/pages/Article/Common/data.js
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/SingleList/index.jsx
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/utils/messageAssist.js
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/customComponents/Icon/index.jsx
  packages/antd-management-fast-framework/src/configGroup/webpackPlugin.js
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPage/index.jsx
  packages/example-antd-management-fast-framework/src/app.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Workbench/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/index.jsx
  packages/example-antd-management-fast-framework/src/app.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/customComponents/AudioUpload/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/CustomGrid/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Function/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Function/index.less
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/IconInfoList/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/ListViewItemExtra/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/TagList/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionSupplement/Whether/index.jsx
  packages/antd-management-fast-component/src/customComponents/HelpBox/index.jsx
  packages/antd-management-fast-component/src/customComponents/MobileContainor/ContentView/index.jsx
  packages/antd-management-fast-component/src/customComponents/VideoUpload/index.jsx
  packages/antd-management-fast-component/src/customComponents/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/TabPageBase/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Workbench/PageHeaderContent/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Workbench/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/CustomGrid/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/DescriptionGrid/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Function/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Button/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Dropdown/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Function/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Menu/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
Due: prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Button/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/ColumnItem/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/ColumnList/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/CustomGrid/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/DescriptionGrid/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Dropdown/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Dropdown/index.less
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Function/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Function/index.less
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/IconInfoList/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/ListViewItemExtra/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Menu/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Menu/index.less
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/RadioGroup/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/RadioItem/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/TagList/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/framework/Common/InternalBuild/index.jsx
  packages/antd-management-fast-framework/src/framework/FieldExtension/SelectFieldDrawer/SelectFieldBase/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/AddBasicInfoDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/ChangeSortModal/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Function/index.jsx
  packages/antd-management-fast-component/src/customComponents/PageExtra/HeaderTagWrapper/index.jsx
  packages/antd-management-fast-component/src/customComponents/PageExtra/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataCore/index.jsx
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-component/src/customComponents/AudioUpload/index.jsx
  packages/antd-management-fast-component/src/customComponents/ElasticityRadioGroup/index.jsx
  packages/antd-management-fast-component/src/customComponents/ElasticityRadioItem/index.jsx
  packages/antd-management-fast-component/src/customComponents/FormExtra/RadioItem/index.jsx
  packages/antd-management-fast-component/src/customComponents/FormExtra/index.js
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/ComponentBuilder/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/ConfigAssist/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/FormBuilder/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/FormBuilder/index.less
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Function/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Radio/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/SearchBuilder/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Select/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionSupplement/Whether/index.jsx
  packages/antd-management-fast-component/src/customComponents/HelpBox/index.jsx
  packages/antd-management-fast-component/src/customComponents/JsonView/index.jsx
  packages/antd-management-fast-component/src/customComponents/MobileContainor/ContentView/index.jsx
  packages/antd-management-fast-component/src/customComponents/PageExtra/HeaderExtraContent/index.jsx
  packages/antd-management-fast-component/src/customComponents/PageExtra/index.jsx
  packages/antd-management-fast-component/src/customComponents/VideoUpload/index.jsx
  packages/antd-management-fast-component/src/customComponents/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/MobilePreviewArea/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/MobilePreviewDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalBuild/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalFlow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataCore/index.jsx
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/ArticleStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/AccessWayStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/ArticleRenderType/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/ArticleStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/MediaType/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/Rank/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/WebChannel/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/Whether/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/ComponentBuilder/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/ConfigAssist/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/FormBuilder/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Radio/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/SearchBuilder/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/Select/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/customComponents/FormExtra/RadioItem/index.jsx
  packages/antd-management-fast-component/src/customComponents/FormExtra/SelectItem/index.jsx
  packages/antd-management-fast-component/src/customComponents/Function/Radio/index.jsx
  packages/antd-management-fast-component/src/customComponents/Function/Select/index.jsx
  packages/antd-management-fast-component/src/customComponents/Function/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionSupplement/Whether/index.jsx
  packages/antd-management-fast-component/src/customComponents/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalBuild/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Common/data.js
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/customComponents/FormExtra/RadioItem/index.jsx
  packages/antd-management-fast-component/src/customComponents/FormExtra/SelectItem/index.jsx
  packages/antd-management-fast-component/src/customComponents/Function/Radio/index.jsx
  packages/antd-management-fast-component/src/customComponents/Function/Select/index.jsx
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-test/package.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/pages/Article/Common/data.js
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-component/src/customComponents/ColorText/index.jsx
  packages/antd-management-fast-component/src/customComponents/CustomGrid/index.jsx
  packages/antd-management-fast-component/src/customComponents/ElasticityRadioGroup/index.jsx
  packages/antd-management-fast-component/src/customComponents/FlexRadio/index.jsx
  packages/antd-management-fast-component/src/customComponents/FlexSelect/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/ColumnList/index.js
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/ComponentBuilder/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/FormBuilder/index.jsx
  packages/antd-management-fast-component/src/customComponents/HelpBox/index.jsx
  packages/antd-management-fast-component/src/customComponents/IconInfo/index.jsx
  packages/antd-management-fast-component/src/customComponents/StandardFormRow/index.less
  packages/antd-management-fast-component/src/customComponents/index.jsx
  packages/antd-management-fast-framework/src/framework/AuthorizationWrapper/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalBuild/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/example-antd-management-fast-framework/src/app.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/DataTabContainerSupplement/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/AccessWayStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/ArticleRenderType/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/ArticleStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/MediaType/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/Rank/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/WebChannel/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/Whether/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Add/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/AddBasicInfoDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Common/data.js
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/MediaInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/PageListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/SingleList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/SingleListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/UpdateBasicInfoDrawer/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-common/src/utils/logAssist.js
  packages/antd-management-fast-component/src/customComponents/Editor/TinymceWrapper/index.jsx
  packages/antd-management-fast-component/src/customComponents/ElasticityButton/index.jsx
  packages/antd-management-fast-component/src/customComponents/ElasticityDropdown/index.jsx
  packages/antd-management-fast-component/src/customComponents/ElasticityMenu/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/ComponentBuilder/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalBuild/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalFlow/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Add/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/MediaInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/SingleList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Workbench/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-component/src/customComponents/AbstractComponent/index.jsx
  packages/antd-management-fast-component/src/customComponents/ElasticityMenu/index.jsx
  packages/antd-management-fast-component/src/customComponents/PageExtra/HeaderTitle/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/MobilePreviewArea/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalBuild/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalFlow/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalLayout/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.less
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataCore/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Workbench/ShortcutPanel/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged
