Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/components/Function/Assist/index.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/utils/actionAssist.js
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/bases/AbstractComponent/index.jsx
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/AuthorizationWrapper/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalBuild/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalFlow/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/SaveButton/index.jsx
  packages/antd-management-fast-framework/src/framework/Core/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseUpdateForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseView/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseWindow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePage/index.jsx
  packages/antd-management-fast-framework/src/modelBuilders/switchControl.js
  packages/antd-management-fast-framework/src/utils/switchControlAssist.js
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/pages/Simple/PageList/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/utils/actionAssist.js
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/bases/AbstractComponent/index.jsx
  packages/antd-management-fast-component/src/components/StandardTable/index.jsx
  packages/antd-management-fast-component/src/components/index.jsx
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/components/ElasticityExtraButton/index.jsx
  packages/antd-management-fast-framework/src/components/LoadingOverlay/index.jsx
  packages/antd-management-fast-framework/src/components/index.jsx
  packages/antd-management-fast-framework/src/framework/AuthorizationWrapper/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalBuild/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalFlow/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/ReloadActionButton/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/SaveButton/index.jsx
  packages/antd-management-fast-framework/src/framework/Core/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseAddDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseUpdateForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/EmptyCardCollection/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/RefreshButton/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseWindow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePage/index.jsx
  packages/antd-management-fast-framework/src/utils/switchControlAssist.js
  packages/antd-management-fast-framework/tsconfig.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  document/resource/aliyun_disk_login.png
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-charts/src/components/Charts/TagCloud/index.jsx
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/utils/actionAssist.js
  packages/antd-management-fast-common/src/utils/routeAssist.js
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/bases/AbstractComponent/index.jsx
  packages/antd-management-fast-component/src/components/FunctionComponent/ColumnList/index.js
  packages/antd-management-fast-component/src/components/PageExtra/PageWrapper/index.jsx
  packages/antd-management-fast-component/src/components/SyntaxHighlighter/index.jsx
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/components/PageExtraWrapper/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalFlow/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalLayout/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalTabFlow/index.jsx
  packages/antd-management-fast-framework/src/framework/Core/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
  packages/antd-management-fast-framework/src/modelBuilders/index.js
  packages/antd-management-fast-framework/src/modelBuilders/switchControl.js
  packages/antd-management-fast-framework/src/modelBuilders/tabControl.js
  packages/antd-management-fast-framework/src/utils/tabControlAssist.js
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/locales/zh-CN/menu.js
  packages/example-antd-management-fast-framework/src/pages/Simple/Assist/action.js
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/index.jsx
  packages/example-antd-management-fast-framework/src/services/simple.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/FormExtra/NowTimeItem/index.jsx
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/bin/cli.js
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-develop/src/cliCollection/createCode.js
  packages/antd-management-fast-develop/src/tools/createCode.js
  packages/antd-management-fast-develop/src/tools/generate.js
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/generatorData/code.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/public/interactionConfig/initLocal.core.js
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/Whether/index.jsx
  packages/example-antd-management-fast-framework/src/locales/zh-CN/menu.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/BaseView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/ModelView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleAddDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleAddDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleModal/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleModal/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/example-antd-management-fast-framework/generatorData/code.json
  packages/example-antd-management-fast-framework/src/constants/index.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleAddDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleEditDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleEditDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Common/data.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-component/src/bases/AbstractComponent/index.jsx
  packages/antd-management-fast-component/src/components/FormExtra/NowTimeItem/index.jsx
  packages/antd-management-fast-framework/src/framework/Core/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseAddDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseLoadDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseNeedlessLoadDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseUpdateDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseLoadModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseNeedlessLoadModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseUpdateTransferModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseWindow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/generatorData/code.json
  packages/example-antd-management-fast-framework/src/pages/Interaction/ModalView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/ModelView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleAddDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleAddModal/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleAddModal/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleEditDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleEditDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleEditModal/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleEditModal/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/ChangeImageSortModal/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-develop/src/tools/createCode.js
  packages/antd-management-fast-framework/src/components/ModalExtra/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseWindow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataCore/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/ModalView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleAddDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleAddModal/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleAddModal/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleEditDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleEditModal/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleEditModal/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.less
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.less
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseWindow/index.jsx
  packages/example-antd-management-fast-framework/generatorData/code.json
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerCodeView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/ModalCodeView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/ModalView/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/ModalView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleAddModal/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleAddModal/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleEditModal/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleEditModal/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseWindow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
  packages/example-antd-management-fast-framework/generatorData/code.json
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleMultiPageDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleMultiPageDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleSinglePageDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleSinglePageDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/AddMediaItemDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/ChangeImageSortModal/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/ChangeSortModal/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/UpdateBasicInfoDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/UpdateMediaItemDrawer/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/components/DrawerExtra/index.jsx
  packages/antd-management-fast-framework/src/components/DrawerExtra/index.less
  packages/antd-management-fast-framework/src/components/LoadingOverlay/index.jsx
  packages/antd-management-fast-framework/src/components/LoadingOverlay/index.less
  packages/antd-management-fast-framework/src/components/ReloadAnimalPrompt/index.jsx
  packages/antd-management-fast-framework/src/components/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalFlow/index.jsx
  packages/antd-management-fast-framework/src/framework/Core/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/RefreshButton/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/ResetButton/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseWindow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
  packages/antd-management-fast-framework/src/modelBuilders/index.js
  packages/antd-management-fast-framework/src/modelBuilders/reloadAnimalPromptControl.js
  packages/antd-management-fast-framework/src/utils/index.js
  packages/antd-management-fast-framework/src/utils/reloadAnimalPromptControlAssist.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerCodeView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleAddDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleEditDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleMultiPageDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleMultiPageDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleSinglePageDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Simple/PageListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/SingleListDrawer/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/framework/Common/InternalFlow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseUpdateForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseWindow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/bin/cli.js
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleMultiPageDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleSinglePageDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleSinglePageSelectDrawer/codeSource.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/bases/AbstractComponent/index.jsx
  packages/antd-management-fast-component/src/components/FunctionComponent/ComponentBuilder/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalBuild/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.less
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageSelectDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseWindow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.less
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/generatorData/code.json
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleMultiPageDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleMultiPageDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleSinglePageDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleSinglePageFrontendPaginationMultiSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleSinglePageFrontendPaginationMultiSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleSinglePageFrontendPaginationSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleSinglePageFrontendPaginationSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleSinglePageFrontendPaginationSingleSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleSinglePageFrontendPaginationSingleSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleSinglePageMultiSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleSinglePageMultiSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleSinglePageSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleSinglePageSingleSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleSinglePageSingleSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/SingleList/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/bases/AbstractComponent/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalBuild/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalFlow/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalLayout/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalTabFlow/index.jsx
  packages/antd-management-fast-framework/src/framework/Core/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseAddDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseLoadDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseNeedlessLoadDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseUpdateDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseUpdateForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseLoadModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageSelectDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseView/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseWindow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageSelectDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataCore/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataLoad/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/codeSource.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-develop/src/tools/createCode.js
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/generatorData/code.json
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Single/BaseSimpleSinglePageSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Single/BaseSimpleSinglePageSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Single/SimpleSinglePageConfirmSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Single/SimpleSinglePageConfirmSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Single/SimpleSinglePageSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Single/SimpleSinglePageSelectDrawer/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Drawer/index.less
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.less
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageSelectDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Multi/BaseSimpleMultiPageSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Multi/BaseSimpleMultiPageSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Multi/SimpleMultiPageConfirmSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Multi/SimpleMultiPageConfirmSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Multi/SimpleMultiPageMultiSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Multi/SimpleMultiPageMultiSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Multi/SimpleMultiPageSingleSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Multi/SimpleMultiPageSingleSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Single/BaseSimpleSinglePageSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Single/FrontendPagination/SimpleSinglePageFrontendPaginationConfirmSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Single/FrontendPagination/SimpleSinglePageFrontendPaginationMultiSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Single/FrontendPagination/SimpleSinglePageFrontendPaginationSingleSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Single/Normal/SimpleSinglePageMultiSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Single/Normal/SimpleSinglePageSingleSelectDrawer/codeSource.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/config/package/template/main.content.js
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/components/ApplicationWrapper/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/index.less
  packages/example-antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/utils/entranceAssist.js
  packages/antd-management-fast-framework/src/utils/interfaceSettingAssist.jsx
  packages/example-antd-management-fast-framework/config/router.config.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/modelBuilders/entrance.js
  packages/antd-management-fast-framework/src/utils/entranceAssist.js
  packages/antd-management-fast-framework/src/utils/interfaceSettingAssist.jsx
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/public/interactionConfig/initLocal.core.js
  packages/example-antd-management-fast-framework/src/access.js
  packages/example-antd-management-fast-framework/src/app.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Multi/BaseSimpleMultiPageSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Multi/BaseSimpleMultiPageSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Single/BaseSimpleSinglePageSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Single/BaseSimpleSinglePageSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/ModalCodeView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/ModalView/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/ModalView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleAddModal/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleAddModal/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleEditModal/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/SimpleEditModal/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Add/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/AddBasicInfoDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/BasicInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/PageList/index.jsx
  packages/example-antd-management-fast-framework/src/utils/init.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/utils/interfaceSettingCacheAssist.js
  packages/example-antd-management-fast-framework/src/global.less
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/Common/InternalFlow/index.jsx
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/package.json
  packages/example-remote/src/modelBuilders/errorLog.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

Path conditions:
  npx prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
