Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

.lintstagedrc:

{
  "**/*.less": "stylelint --syntax less",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/utils/defaultSettingsSpecial.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

chore(antd-management-fast-framework): version
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package-lock.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

style(antd-management-fast-cli): update
  .husky.zip
  .husky/commit-msg
  .husky/pre-commit
Due: none

refactor(antd-management-fast-cli): update
  package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/utils/appConfiguration.js
  packages/antd-management-fast-framework/src/utils/core.js
  packages/antd-management-fast-framework/src/utils/defaultSettingsSpecial.js
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/antd-management-fast-framework/src/utils/typeCheck.js
  packages/antd-management-fast-framework/src/utils/typeConvert.js
  packages/simple-antd-management-fast-framework/src/services/article.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/utils/Authorized.js
  packages/antd-management-fast-framework/src/utils/authority.js
  packages/antd-management-fast-framework/src/utils/core.js
  packages/antd-management-fast-framework/src/utils/developAssist.js
  packages/antd-management-fast-framework/src/utils/globalStorageAssist.js
  packages/antd-management-fast-framework/src/utils/localStorageAssist.js
  packages/antd-management-fast-framework/src/utils/mediaDefault.js
  packages/antd-management-fast-framework/src/utils/sessionStorageAssist.js
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/src/utils/storageAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/utils/appConfiguration.js
  packages/antd-management-fast-framework/src/utils/cacheAssist.js
  packages/antd-management-fast-framework/src/utils/core.js
  packages/antd-management-fast-framework/src/utils/developAssist.js
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/antd-management-fast-framework/src/utils/typeCheck.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/utils/Authorized.js
  packages/antd-management-fast-framework/src/utils/globalStorageAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/utils/core.js
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/src/pages/Article/AddMediaItemDrawer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/utils/developAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePage/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/antd-management-fast-framework/src/utils/typeCheck.js
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

perf(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePage/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseNeedlessLoadDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseUpdateForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseLoadModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseNeedlessLoadModal/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPage/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  .vscode/settings.json
  package.json
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/package.json
Due: prettier --write

style(antd-management-fast-cli): update
  packages/antd-management-fast-cli/bin/cli-all.js
  packages/antd-management-fast-cli/bin/cli.js
  packages/antd-management-fast-cli/package.json
  packages/antd-management-fast-cli/src/env.js
  packages/antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

chore(antd-management-fast-framework): version
  packages/antd-management-fast-cli/CHANGELOG.md
  packages/antd-management-fast-cli/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package-lock.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

style(antd-management-fast-cli): update
  packages/antd-management-fast-cli/bin/cli-all.js
  packages/antd-management-fast-cli/bin/cli.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

chore(antd-management-fast-framework): version
  packages/antd-management-fast-cli/CHANGELOG.md
  packages/antd-management-fast-cli/package.json
Due: prettier --write

docs(antd-management-fast-cli): update
  packages/antd-management-fast-cli/package.json
Due: prettier --write
