Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

.lintstagedrc:

{
  "**/*.less": "stylelint --syntax less",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

feat: update selectButton
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Publish
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

feat: update
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update selectButton
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: adjust selectButton:remove default confirm mode
  package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/src/customConfig/constants.js
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageListDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/SelectField/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

fix: update commons
  packages/antd-management-fast-framework/src/utils/actionAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: table行展开抽离出后续调整方法 adjustTableExpandConfig
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: add sortCollectionBuKey function
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/MediaInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/UpdateMediaItemDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/services/article.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update dependences
  .lintstagedrc
  .lintstagedrc.json
  package.json
  packages/antd-management-fast-framework/.stylelintrc.js
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/.stylelintrc.js
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  .vscode/settings.json
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

feat: update
  packages/simple-antd-management-fast-framework/config/config.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/.fatherrc.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: add license file
  License.txt
Due: none

feat: update style
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: adjust imageUplad toolbar
  packages/antd-management-fast-framework/src/customComponents/ImageUpload/index.less
Due: stylelint --syntax less, prettier --write

feat: update imageUpload
  package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/customComponents/ImageUpload/index.jsx
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update imageupload
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update load
  packages/antd-management-fast-framework/src/customComponents/ImageUpload/index.jsx
  packages/antd-management-fast-framework/src/utils/actionAssist.js
  packages/antd-management-fast-framework/src/utils/requestAssistor.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update loading
  packages/antd-management-fast-framework/src/utils/actionAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update actionCore loading
  packages/antd-management-fast-framework/src/utils/actionAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: adjust framework and simple
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/customComponents/ImageUpload/index.jsx
  packages/antd-management-fast-framework/src/framework/Base/index.jsx
  packages/antd-management-fast-framework/src/utils/proLayoutCollection.js
  packages/simple-antd-management-fast-framework/src/customConfig/accessWayCollection.js
  packages/simple-antd-management-fast-framework/src/layouts/BasicLayout.jsx
  packages/simple-antd-management-fast-framework/src/models/article.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Assist/action.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Assist/config.js
  packages/simple-antd-management-fast-framework/src/pages/Article/ChangeImageSortModal/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/ChangeImageSortModal/index.less
  packages/simple-antd-management-fast-framework/src/pages/Article/Common/data.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/ArticleImage/Common/data.js
  packages/simple-antd-management-fast-framework/src/services/article.js
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write
