Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/CustomGrid/index.jsx
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/package.json
  packages/example-remote/src/pages/ErrorLog/PageList/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-develop/bin/cli.js
  packages/antd-management-fast-develop/src/cliCollection/createCode.js
  packages/antd-management-fast-develop/src/tools/createCode.js
  packages/example-antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/config/develop.initial.environment.json
  develop/flags/commit.flag.json
  lerna.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-component/src/components/FunctionSupplement/Whether/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Common/data.js
  packages/example-antd-management-fast-framework/src/pages/Simple/SingleList/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/example-antd-management-fast-framework/src/pages/Simple/PageList/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/framework/Common/InternalFlow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataCore/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Multi/BaseSimpleMultiPageSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Multi/BaseSimpleMultiPageSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Single/BaseSimpleSinglePageSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Single/BaseSimpleSinglePageSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/PageListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/SingleListDrawer/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-common): update
  develop/flags/commit.flag.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-common/src/utils/actionAssist.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/components/FunctionComponent/ComponentBuilder/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-common/src/utils/common.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/utils/common.js
  packages/antd-management-fast-common/src/utils/routeAssist.js
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/bases/AbstractComponent/index.jsx
  packages/antd-management-fast-component/src/components/AudioUpload/index.jsx
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/Common/InternalFlow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseUpdateForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseView/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseWindow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/app.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/TabPageBase/index.jsx
  packages/example-remote/package.json
  packages/example-remote/src/customSpecialComponents/DataTabContainerSupplement/index.jsx
  packages/example-remote/src/modelBuilders/errorLog.js
  packages/example-remote/src/modelBuilders/presetRole.js
  packages/example-remote/src/pages/ErrorLog/Edit/index.jsx
  packages/example-remote/src/pages/PresetRole/Edit/BasicInfo/index.jsx
  packages/example-remote/src/pages/PresetRole/Edit/index.jsx
  packages/example-remote/src/pages/PresetRole/TabPageBase/index.jsx
  packages/example-remote/src/pages/Workbench/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/config/rollup/configBuilder.js
  develop/flags/commit.flag.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/components/InteractionAssemble/index.jsx
  packages/antd-management-fast-common/src/components/index.jsx
  packages/antd-management-fast-common/src/index.jsx
  packages/antd-management-fast-common/src/utils/actionAssist.js
  packages/antd-management-fast-common/src/utils/messageAssist.js
  packages/antd-management-fast-common/src/utils/notificationAssist.js
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/ImageUpload/index.jsx
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/components/ApplicationWrapper/index.jsx
  packages/antd-management-fast-framework/src/index.less
  packages/antd-management-fast-framework/src/utils/bootstrap.js
  packages/antd-management-fast-framework/tsconfig.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/package.json
  packages/example-remote/src/pages/PresetRole/Assist/action.js
  packages/example-remote/src/pages/PresetRole/PageList/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/components/ApplicationWrapper/index.jsx
  packages/antd-management-fast-framework/src/components/MobileContainor/MobileHtmlPreviewBox/index.jsx
  packages/antd-management-fast-framework/src/components/MobileContainor/MobilePreviewArea/index.jsx
  packages/antd-management-fast-framework/src/components/MobileContainor/MobilePreviewDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalTabFlow/index.jsx
  packages/antd-management-fast-framework/src/framework/Core/index.jsx
  packages/antd-management-fast-framework/src/modelBuilders/tabControl.js
  packages/antd-management-fast-framework/src/utils/entranceAssist.js
  packages/antd-management-fast-framework/src/utils/tabControlAssist.js
  packages/example-antd-management-fast-framework/src/pages/Simple/AddMediaItemDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/MediaInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/MediaItemPreviewDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/MobilePreviewBox/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/UpdateMediaItemDrawer/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-common/src/utils/core.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/components/StandardTable/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Drawer/index.less
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Multi/BaseSimpleMultiPageSelectDrawer/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

docs(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-common/src/utils/actionAssist.js
  packages/antd-management-fast-framework/src/utils/entranceAssist.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/Drawers/Multi/BaseSimpleMultiPageSelectDrawer/codeSource.js
  packages/example-remote/src/pages/PresetRole/Assist/action.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/customConfig/action.js
  packages/example-antd-management-fast-framework/src/pages/Simple/SingleList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Workbench/index.jsx
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

Path conditions:
  npx prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
