Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

.lintstagedrc:

{
  "**/*.less": "stylelint --syntax less",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

refactor(antd-management-fast-cli): update
  packages/simple-antd-management-fast-framework/src/components/GlobalHeader/AvatarDropdown.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

chore(antd-management-fast-framework): version
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package-lock.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/customComponents/AudioUpload/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/framework/FieldExtension/SelectFieldDrawer/SelectFieldBase/index.jsx
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  package.json
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-cli/src/env.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

chore(antd-management-fast-framework): version
  packages/antd-management-fast-cli/CHANGELOG.md
  packages/antd-management-fast-cli/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package-lock.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor(antd-management-fast-cli): update
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/src/pages/Article/Common/data.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/framework/FieldExtension/SelectFieldDrawer/SelectFieldBase/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-cli/src/env.js
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.less
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/utils/core.js
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/Edit/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/Edit/BasicInfo/index.less
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/Edit/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/Edit/index.less
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/TabPageBase/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Entrance/Assist/action.js
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  .husky/commit-msg
  .husky/pre-commit
Due: none

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/customComponents/AudioUpload/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FileUpload/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorContextMenu/FlowContextMenu.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorContextMenu/KoniContextMenu.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorContextMenu/MenuItem.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorContextMenu/MindContextMenu.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorContextMenu/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorContextMenu/index.less
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorDetailPanel/DetailForm.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorDetailPanel/FlowDetailPanel.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorDetailPanel/KoniDetailPanel.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorDetailPanel/MindDetailPanel.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorDetailPanel/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorDetailPanel/index.less
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorItemPanel/FlowItemPanel.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorItemPanel/KoniItemPanel.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorItemPanel/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorItemPanel/index.less
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorMinimap/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorToolbar/FlowToolbar.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorToolbar/KoniToolbar.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorToolbar/MindToolbar.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorToolbar/ToolbarButton.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorToolbar/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorToolbar/index.less
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/index.less
  packages/antd-management-fast-framework/src/customComponents/VideoUpload/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/BatchAction/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/DensityAction/index.jsx
  packages/simple-antd-management-fast-framework/src/customConfig/accessWayCollection.js
  packages/simple-antd-management-fast-framework/src/models/article.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Assist/config.js
  packages/simple-antd-management-fast-framework/src/pages/Article/ChangeImageSortModal/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/services/article.js
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  .vscode/settings.json
  packages/antd-management-fast-framework/src/customComponents/Editor/TinymceWrapper/index.jsx
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/ContentInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/Edit/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/Edit/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/PageList/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/customComponents/Editor/BraftEditorWrapper.7z
  packages/antd-management-fast-framework/src/utils/globalStorageAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

chore(antd-management-fast-framework): version
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: prettier --write

refactor(antd-management-fast-cli): update
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/framework/DataModal/BaseUpdateTransferModal/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/utils/constants.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageSelectDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageSelectDrawer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/customComponents/NumberInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Common/data.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged
