Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

.lintstagedrc:

{
  "*.{md,json}": ["npx prettier --cache --write"],
  "*.{js,jsx}": [
    "max lint --fix --eslint-only",
    "npx prettier --cache --write"
  ],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "npx prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "npx prettier --cache --parser=typescript --write"
  ]
}

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/example-antd-management-fast-framework/config/router.config.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/example-antd-management-fast-framework/src/customSpecialComponents/ArticleStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/SimpleRenderType/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/SimpleStatus/index.jsx
  packages/example-antd-management-fast-framework/src/models/accessWay.js
  packages/example-antd-management-fast-framework/src/models/article.js
  packages/example-antd-management-fast-framework/src/models/currentAccount.js
  packages/example-antd-management-fast-framework/src/models/currentSystem.js
  packages/example-antd-management-fast-framework/src/models/flowEditor.js
  packages/example-antd-management-fast-framework/src/models/global.js
  packages/example-antd-management-fast-framework/src/models/notice.js
  packages/example-antd-management-fast-framework/src/models/setting.js
  packages/example-antd-management-fast-framework/src/models/testModel.js
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/BasicInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/PageList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/PageListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/SingleList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/SingleListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/SimpleImage/Common/data.js
  packages/example-antd-management-fast-framework/src/pages/Workbench/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-develop/src/cliCollection/generate.js
  packages/antd-management-fast-develop/src/tools/generate.js
  packages/antd-management-fast-framework/src/utils/interfaceSettingAssist.jsx
  packages/example-antd-management-fast-framework/generatorData/function.extra.data.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/SimpleRenderType/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/SimpleStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/AccessWayStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/Rank/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/SimpleRenderType/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionSupplement/WebChannel/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/AddMediaItemDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/BasicInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/PageList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/PageListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/SingleList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/SingleListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Workbench/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-develop/src/cliCollection/generate.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  cz.flag.json
  develop/flags/commit.flag.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): uypdate
  develop/flags/commit.flag.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-charts/tsconfig.types.json
  packages/antd-management-fast-common/tsconfig.types.json
  packages/antd-management-fast-component/tsconfig.types.json
  packages/antd-management-fast-framework/tsconfig.types.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-charts/tsconfig.json
  packages/antd-management-fast-common/tsconfig.json
  packages/antd-management-fast-component/tsconfig.json
  packages/antd-management-fast-config/tsconfig.json
  packages/antd-management-fast-develop/tsconfig.json
  packages/antd-management-fast-framework/tsconfig.json
Due: npx prettier --cache --write, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-develop/src/cliCollection/generate.js
  packages/antd-management-fast-develop/src/tools/generate.js
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/customSpecialComponents/DataTabContainerSupplement/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/components/index.jsx
  packages/example-antd-management-fast-framework/src/customConfig/index.js
  packages/example-antd-management-fast-framework/src/pages/Simple/AddMediaItemDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/BasicInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/PageList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/PageListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/SingleList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/SingleListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Workbench/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/config/eslint/config/index.js
  develop/config/eslint/config/items/plugins/embed.js
  develop/config/eslint/template/content.js
  develop/config/package/template/children.content.js
  develop/config/package/template/main.content.js
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/config/rollup/configBuilder.js
  develop/flags/commit.flag.json
  packages/antd-management-fast-config/config/rollupConfig.js
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-config/rollup.config.compression.js
  packages/antd-management-fast-config/rollup.config.skipCompression.js
  packages/antd-management-fast-config/src/index.less
  packages/antd-management-fast-config/tsconfig.types.json
  packages/antd-management-fast-develop/src/cliCollection/generate.js
  packages/example-antd-management-fast-framework/src/pages/Simple/AddMediaItemDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/BasicInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/PageList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/PageListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/SingleList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/SingleListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Workbench/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-config/babel.config.js
  packages/antd-management-fast-config/config/rollupConfig.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-config/babel.config.js
  packages/antd-management-fast-config/config/rollupConfig.js
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-config/rollup.config.compression.js
  packages/antd-management-fast-config/rollup.config.skipCompression.js
  packages/antd-management-fast-config/src/configAssist.js
  packages/antd-management-fast-config/src/index.js
  packages/antd-management-fast-config/tsconfig.types.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/config/package/template/main.content.js
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-common/src/utils/fitHandler.js
  packages/antd-management-fast-common/src/utils/settingAssist.js
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/bases/AbstractComponent/index.jsx
  packages/antd-management-fast-component/src/components/FunctionComponent/ColumnList/index.js
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/modelBuilders/entrance.js
  packages/antd-management-fast-framework/src/services/entrance.js
  packages/antd-management-fast-framework/src/utils/interfaceSettingAssist.jsx
  packages/example-antd-management-fast-framework/.env
  packages/example-antd-management-fast-framework/config/config.development.js
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/public/interactionConfig/initLocal.core.js
  packages/example-antd-management-fast-framework/src/components/GlobalHeader/AvatarDropdown.jsx
  packages/example-antd-management-fast-framework/src/components/GlobalHeader/NoticeIconView.jsx
  packages/example-antd-management-fast-framework/src/components/GlobalHeader/RightContent.jsx
  packages/example-antd-management-fast-framework/src/locales/zh-CN/menu.js
  packages/example-antd-management-fast-framework/src/modelBuilders/article.js
  packages/example-antd-management-fast-framework/src/modelBuilders/global.js
  packages/example-antd-management-fast-framework/src/modelBuilders/index.js
  packages/example-antd-management-fast-framework/src/modelBuilders/setting.js
  packages/example-antd-management-fast-framework/src/pages/Entrance/SignIn/index.jsx
  packages/example-antd-management-fast-framework/src/services/article.js
  packages/example-antd-management-fast-framework/src/services/entrance.js
  packages/example-antd-management-fast-framework/src/services/error.js
  packages/example-antd-management-fast-framework/src/services/global.js
  packages/example-antd-management-fast-framework/src/utils/tools.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/AuthorizationWrapper/index.jsx
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/plugin.ts
  packages/example-antd-management-fast-framework/public/interactionConfig/initLocal.core.js
  packages/example-antd-management-fast-framework/public/interactionConfig/initLocal.development.js
  packages/example-antd-management-fast-framework/src/pages/Entrance/SignIn/index.jsx
  packages/example-antd-management-fast-framework/src/utils/index.js
  packages/example-antd-management-fast-framework/src/utils/init.js
  packages/example-antd-management-fast-framework/src/utils/tokenDeadline.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/components/Bootstrap/index.jsx
  packages/antd-management-fast-framework/src/modelBuilders/entrance.js
  packages/antd-management-fast-framework/src/utils/entranceAssist.js
  packages/antd-management-fast-framework/src/utils/index.js
  packages/antd-management-fast-framework/src/utils/interfaceSettingAssist.jsx
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/public/interactionConfig/initLocal.development.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/config/rollup/configBuilder.js
  develop/flags/commit.flag.json
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-component/src/components/Footer/index.jsx
  packages/antd-management-fast-framework/src/components/Bootstrap/index.jsx
  packages/antd-management-fast-framework/src/index.less
  packages/antd-management-fast-framework/src/modelBuilders/entrance.js
  packages/antd-management-fast-framework/src/services/entrance.js
  packages/antd-management-fast-framework/src/utils/entranceAssist.js
  packages/antd-management-fast-framework/src/utils/interfaceSettingAssist.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-develop/src/cliCollection/generate.js
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/Icon/index.jsx
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/modelBuilders/entrance.js
  packages/antd-management-fast-framework/src/utils/applicationListDataCacheAssist.js
  packages/antd-management-fast-framework/src/utils/entranceAssist.js
  packages/antd-management-fast-framework/src/utils/interfaceSettingAssist.jsx
  packages/antd-management-fast-framework/src/utils/interfaceSettingCacheAssist.js
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/app.jsx
  packages/example-antd-management-fast-framework/src/utils/tokenDeadline.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/index.less
  packages/antd-management-fast-framework/src/utils/interfaceSettingAssist.jsx
  packages/example-antd-management-fast-framework/src/app.jsx
  packages/example-antd-management-fast-framework/src/utils/tools.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-common/src/utils/settingAssist.js
  packages/antd-management-fast-develop/src/template.js
  packages/antd-management-fast-framework/src/utils/metaDataAssist.js
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/ArticleCommentStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/ArticleReminderPlanShowTarget/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/ArticleRenderType/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/ArticleStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/BusinessMode/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/CallCenterCategory/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/CallCenterStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/ClientType/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/GalleryCategory/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/GalleryStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/GalleryType/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/Gender/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/GovernmentAffairManagerStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/GovernmentAffairRoleCreateMode/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/GovernmentAffairRoleStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/MediaType/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/QrCodeStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/QuestionItemStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/QuestionStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/QuestionType/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/QuestionnaireStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/ScoreBusinessMode/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/ScoreProductStockChangeType/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/ScoreRank/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/ScoreRankStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/SimpleRenderType/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/SimpleStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/UserScoreOrderStatus/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/WebChannel/index.jsx
  packages/example-antd-management-fast-framework/src/customSpecialComponents/FunctionExtra/Whether/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Workbench/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write
