Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

.lintstagedrc:

{
  "**/*.less": "stylelint --syntax less",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

chore(antd-management-fast-framework): version
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package-lock.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

docs: function description update
  package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/Base/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/antd-management-fast-framework/src/utils/defaultSettingsSpecial.js
  packages/antd-management-fast-framework/src/utils/globalStorageAssist.js
  packages/antd-management-fast-framework/src/utils/proLayoutCollection.js
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/public/interactionConfig/init.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  yarn.lock
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: 更新示例项目
  packages/simple-antd-management-fast-framework/config/config.development.js
  packages/simple-antd-management-fast-framework/config/config.local.js
  packages/simple-antd-management-fast-framework/config/config.production.js
  packages/simple-antd-management-fast-framework/config/extraScript.js
  packages/simple-antd-management-fast-framework/public/interactionConfig/init.js
  packages/simple-antd-management-fast-framework/public/interactionConfig/initLocal.js
  packages/simple-antd-management-fast-framework/public/interactionConfig/initRemote.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

docs: add package to package./json browserslist caniuse-lite
  .gitignore
  .vscode/settings.json
  package-lock.json
  packages/antd-management-fast-framework/.browserslistrc
  packages/antd-management-fast-framework/.prettierignore
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/.browserslistrc
  packages/simple-antd-management-fast-framework/.prettierignore
  packages/simple-antd-management-fast-framework/package.json
  yarn.lock
Due: prettier --write

feat: 增加配置
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat: iconinfo组件针对eclipse 做出调整
  packages/antd-management-fast-framework/src/customComponents/IconInfo/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: 调整部分组件配置
  packages/antd-management-fast-framework/src/customComponents/FlexBox/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/customComponents/IconInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix: 调整配置
  packages/antd-management-fast-framework/src/customComponents/Ellipsis/index.jsx
  packages/antd-management-fast-framework/src/customComponents/Ellipsis/index.less
  packages/antd-management-fast-framework/src/customComponents/FlexText/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/customComponents/IconInfo/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/simple-antd-management-fast-framework/public/interactionConfig/initLocal.js
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/services/article.js
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix: 调整配置
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/antd-management-fast-framework/src/utils/defaultSettingsSpecial.js
  packages/antd-management-fast-framework/src/utils/requestAssistor.js
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix(antd-management-fast-framework): 列表视图增加分页栏固定配置
  package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix: adjust nprocess behavior
  packages/antd-management-fast-framework/src/framework/Base/index.jsx
  packages/antd-management-fast-framework/src/utils/proLayoutCollection.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

docs: update
  packages/antd-management-fast-framework/src/utils/authority.js
  packages/antd-management-fast-framework/src/utils/globalStorageAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Common/data.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style: update
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

docs: update
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/framework/AuthorizationWrapper/index.jsx
  packages/antd-management-fast-framework/src/utils/authority.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style: update
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.less
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataCore/index.jsx
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/simple-antd-management-fast-framework/config/extraScript.js
  packages/simple-antd-management-fast-framework/config/plugin.config.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Add/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

docs: update
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/utils/actionAssist.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Assist/action.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged
