Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

chore(antd-management-fast-framework): version
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package-lock.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  .vscode/settings.json
  packages/antd-management-fast-cli/package.json
  packages/antd-management-fast-cli/src/env.js
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

chore(antd-management-fast-framework): version
  packages/antd-management-fast-cli/CHANGELOG.md
  packages/antd-management-fast-cli/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package-lock.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor(antd-management-fast-cli): update
  .vscode/settings.json
  packages/antd-management-fast-framework/src/utils/constants.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/utils/constants.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/antd-management-fast-framework/src/utils/proLayoutCollection.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorContextMenu/FlowContextMenu.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorContextMenu/KoniContextMenu.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorContextMenu/MenuItem.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorContextMenu/MindContextMenu.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorContextMenu/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorContextMenu/index.less
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorDetailPanel/DetailForm.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorDetailPanel/FlowDetailPanel.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorDetailPanel/KoniDetailPanel.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorDetailPanel/MindDetailPanel.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorDetailPanel/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorDetailPanel/index.less
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorItemPanel/FlowItemPanel.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorItemPanel/KoniItemPanel.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorItemPanel/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorItemPanel/index.less
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorMinimap/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorToolbar/FlowToolbar.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorToolbar/KoniToolbar.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorToolbar/MindToolbar.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorToolbar/ToolbarButton.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorToolbar/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorToolbar/index.less
  packages/antd-management-fast-framework/src/customComponents/IconFont/index.js
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
  packages/simple-antd-management-fast-framework/config/router.config.js
  packages/simple-antd-management-fast-framework/src/customSpecialComponents/DataTabContainerSupplement/index.jsx
  packages/simple-antd-management-fast-framework/src/locales/zh-CN/menu.js
  packages/simple-antd-management-fast-framework/src/models/currentSystem.js
  packages/simple-antd-management-fast-framework/src/pages/CurrentSystem/Assist/config.js
  packages/simple-antd-management-fast-framework/src/pages/CurrentSystem/Common/data.js
  packages/simple-antd-management-fast-framework/src/pages/CurrentSystem/Edit/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentSystem/Edit/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentSystem/TabPageBase/index.js
  packages/simple-antd-management-fast-framework/src/pages/FlowEditor/Editor/Design/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/FlowEditor/Editor/index.jsx
  packages/simple-antd-management-fast-framework/src/services/article.js
  packages/simple-antd-management-fast-framework/src/services/currentSystem.js
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  package.json
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/src/pages/FlowEditor/Editor/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/FlowEditor/TabPageBase/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  package.json
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src with ggeditor.zip
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorDetailPanel/DetailForm.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/EditorMinimap/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FlowEditor/index.less
  packages/antd-management-fast-framework/src/utils/core.js
  packages/antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/config/router.config.js
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/src/locales/zh-CN/menu.js
  packages/simple-antd-management-fast-framework/src/models/flowEditor.js
  packages/simple-antd-management-fast-framework/src/pages/FlowEditor/Assist/config.js
  packages/simple-antd-management-fast-framework/src/pages/FlowEditor/Common/data.js
  packages/simple-antd-management-fast-framework/src/pages/FlowEditor/Editor/Design/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/FlowEditor/Editor/InnerEditor/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/FlowEditor/Editor/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/FlowEditor/TabPageBase/index.js
  packages/simple-antd-management-fast-framework/src/services/flowEditor.js
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/customComponents/AvatarList/index.jsx
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/src/components/GlobalHeader/NoticeIconView.jsx
  packages/simple-antd-management-fast-framework/src/components/GlobalHeader/RightContent.jsx
  packages/simple-antd-management-fast-framework/src/components/HeaderDropdown/index.jsx
  packages/simple-antd-management-fast-framework/src/components/HeaderSearch/index.jsx
  packages/simple-antd-management-fast-framework/src/components/NoticeIcon/NoticeList.jsx
  packages/simple-antd-management-fast-framework/src/global.jsx
  packages/simple-antd-management-fast-framework/src/global.less
  packages/simple-antd-management-fast-framework/src/layouts/BlankLayout.jsx
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/Edit/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/Edit/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Add/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/AddBasicInfoDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/ChangeImageSortModal/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/MediaItemPreviewDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/MobilePreviewBox/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageListDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/SelectField/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/SingleList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/SingleListDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/UpdateBasicInfoDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/UpdateMediaItemDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Authorized.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/CurrentOperator/Setting/Password/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/FlowEditor/Editor/InnerEditor/Label/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/FlowEditor/Editor/InnerEditor/Label/index.less
  packages/simple-antd-management-fast-framework/src/pages/FlowEditor/Editor/InnerEditor/Node/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/FlowEditor/Editor/InnerEditor/Node/index.less
  packages/simple-antd-management-fast-framework/src/pages/FlowEditor/Editor/InnerEditor/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/FlowEditor/Editor/InnerEditor/index.less
  packages/simple-antd-management-fast-framework/src/pages/FlowEditor/Editor/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Welcome.jsx
  packages/simple-antd-management-fast-framework/src/services/article.js
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/utils/actionAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/utils/actionAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/simple-antd-management-fast-framework/src/components/HeaderSearch/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/utils/constants.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/simple-antd-management-fast-framework/src/components/GlobalHeader/AvatarDropdown.jsx
  packages/simple-antd-management-fast-framework/src/components/GlobalHeader/NoticeIconView.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/simple-antd-management-fast-framework/src/pages/Article/Common/data.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

Path conditions:
  stylelint --syntax less: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged: any of: **/*.{js,jsx,ts,tsx}
