Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

.lintstagedrc:

{
  "*.{md,json}": ["npx prettier --cache --write"],
  "*.{js,jsx}": [
    "max lint --fix --eslint-only",
    "npx prettier --cache --write"
  ],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "npx prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "npx prettier --cache --parser=typescript --write"
  ]
}

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/FileViewer/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/src/pages/Form/NormalView/codeSource.js
  examples/example-antd-management-fast-framework/src/pages/Interaction/DesignView/codeSource.js
  examples/example-antd-management-fast-framework/src/pages/Interaction/DesignView/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-antd-management-fast-framework/src/businessComponents/Drawers/FlowCaseFormDocumentDrawer/index.jsx
  examples/example-antd-management-fast-framework/src/utils/mock.js
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/ItemConfigBox/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Items/LineAttention/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/constant.js
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/tools.js
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/index.jsx
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-antd-management-fast-framework/src/businessComponents/Drawers/FlowCaseFormDocumentDrawer/index.jsx
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/constant.js
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/tools.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/ItemConfigBox/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/tools.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-antd-management-fast-framework/src/businessComponents/Drawers/FlowCaseFormDocumentDrawer/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-antd-management-fast-framework/src/businessAssists/action.js
  examples/example-antd-management-fast-framework/src/businessComponents/Drawers/FlowCaseFormDocumentDrawer/index.jsx
  examples/example-antd-management-fast-framework/src/modelBuilders/formDesign.js
  examples/example-antd-management-fast-framework/src/pages/Interaction/DesignView/index.jsx
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/tools.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-antd-management-fast-framework/src/businessComponents/Drawers/FlowCaseFormDocumentDrawer/index.jsx
  examples/example-antd-management-fast-framework/src/pages/Interaction/DesignView/codeSource.js
  examples/example-antd-management-fast-framework/src/utils/mock.js
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Items/LineApply/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/index.jsx
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/config/eslint/config/items/settings/custom.js
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-antd-management-fast-framework/src/businessComponents/Drawers/FlowCaseFormDocumentDrawer/index.jsx
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/utils/interfaceSettingAssist.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/config/router.config.js
  examples/example-antd-management-fast-framework/package.json
  examples/example-antd-management-fast-framework/src/locales/zh-CN/menu.js
  examples/example-antd-management-fast-framework/src/pages/CurrentAccount/Common/data.js
  examples/example-antd-management-fast-framework/src/pages/CurrentAccount/MenuPageBase/index.jsx
  examples/example-antd-management-fast-framework/src/pages/CurrentAccount/Setting/BasicInfo/index.jsx
  examples/example-antd-management-fast-framework/src/pages/CurrentAccount/Setting/Password/index.jsx
  examples/example-antd-management-fast-framework/src/pages/CurrentAccount/Setting/index.jsx
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/components/MenuWrapper/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/components/DataPreviewDrawer/index.jsx
  packages/antd-management-fast-framework/src/components/DrawerExtra/index.jsx
  packages/antd-management-fast-framework/src/components/ElasticityExtraButton/index.jsx
  packages/antd-management-fast-framework/src/components/MenuWrapper/index.jsx
  packages/antd-management-fast-framework/src/components/ModalExtra/index.jsx
  packages/antd-management-fast-framework/src/components/PageExtraWrapper/index.jsx
  packages/antd-management-fast-framework/src/components/ShortcutNavigation/index.jsx
  packages/antd-management-fast-framework/src/components/TopProgressBar/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/ReloadActionButton/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/BatchAction/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/EmptyCardCollection/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-antd-management-fast-framework/src/utils/mock.js
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Items/LineApply/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Items/LineApprove/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Items/LineAttention/index.jsx
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  .vscode/settings.json
  develop/config/rollup/configBuilder.js
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-antd-management-fast-framework/src/pages/Interaction/DesignView/index.jsx
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-config/src/configAssist.js
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/index.jsx
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/index.jsx
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: upadte
  .husky/pre-commit
  .vscode/settings.json
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/src/businessComponents/Drawers/FlowCaseFormDocumentDrawer/index.jsx
  examples/example-antd-management-fast-framework/src/services/formDesign.js
  examples/example-remote/src/customConfig/general/constants.js
  examples/example-remote/src/customConfig/general/fieldDataCollection/fieldDataFlowFormDesign.js
  examples/example-remote/src/pageBases/FlowCase/BaseFlowCaseFormInfoDrawer/index.jsx
  examples/example-remote/src/pageBases/FlowCaseFormStorage/BaseFlowCaseStorageFormDrawer/index.jsx
  examples/example-remote/src/pageBases/FlowFormDesign/BaseFlowCaseFormDocumentDrawer/index.jsx
  examples/example-remote/src/pages/Workflow/Edit/FromInfo/index.jsx
  examples/example-remote/src/pages/WorkflowCase/Edit/FormInfo/index.jsx
  packages/antd-management-fast-component/src/components/FunctionComponent/ColumnList/index.js
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/CellMarker/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Cells/CellApply/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Cells/CellApproval/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Cells/CellAttention/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Cells/CellBase/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Cells/CellEnum/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Cells/tools.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/GeneralConfigBox/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/GeneralConfigs/GeneralConfigContainer/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/GeneralConfigs/GeneralFirstCellWidth/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/GeneralConfigs/GeneralGridColor/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/GeneralConfigs/GeneralLabelColor/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/GeneralConfigs/GeneralSort/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/GeneralConfigs/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/ItemConfigBox/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/TitleConfigBox/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/TitleMarker/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/TitleMarker/index.less
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/constant.js
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/tools.js
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/SchemaDisplayer/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/EditableItem/index.less
  packages/antd-management-fast-component/src/components/RowExpandTable/index.less
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --stylelint-only, stylelint, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-design-react/tsconfig.types.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-formily/tsconfig.types.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/config/ncu/config/index.js
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  examples/example-remote/src/pageBases/FlowCase/BaseFlowCaseProcessChainDrawer/index.jsx
  examples/example-remote/src/pages/Organization/GraphicalDirectDepartmentTree/index.jsx
  examples/example-remote/src/pages/Organization/GraphicalSingleSubsidiaryDepartmentTreeDrawer/index.jsx
  examples/example-remote/src/pages/Organization/GraphicalTree/index.jsx
  examples/example-remote/src/utils/general/tools.jsx
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  examples/example-remote/src/pageBases/FlowCase/BaseFlowCaseFormInfoDrawer/index.jsx
  examples/example-remote/src/pages/WorkflowCase/Edit/FormInfo/index.jsx
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Cells/CellMoney/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/ItemConfigBox/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/tools.js
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/index.jsx
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Cells/CellMoney/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-remote/src/pageBases/FlowFormDesign/BaseFlowCaseFormDocumentDrawer/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/tools.js
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  examples/example-remote/src/pageBases/FlowFormDesign/BaseFlowCaseFormDocumentDrawer/index.jsx
  examples/example-remote/src/pages/WorkflowCase/Edit/FormInfo/index.jsx
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Items.zip
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/GeneralConfigs/GeneralEllipsis/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/GeneralConfigs/GeneralExtraConfigBoxContainer/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/GeneralConfigs/GeneralGridColor/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/GeneralConfigs/GeneralRemarkSwitch/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/TitleConfigBox/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/tools.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/GeneralConfigs/GeneralRemarkSwitch/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/src/businessComponents/Drawers/FlowCaseFormDocumentDrawer/index.jsx
  examples/example-antd-management-fast-framework/src/pages/Interaction/DesignView/index.jsx
  examples/example-remote/src/pageBases/FlowCase/BaseFlowCaseFormInfoDrawer/index.jsx
  examples/example-remote/src/pageBases/FlowCaseFormStorage/BaseFlowCaseStorageFormDrawer/index.jsx
  examples/example-remote/src/pageBases/FlowFormDesign/BaseFlowCaseFormDocumentDrawer/index.jsx
  examples/example-remote/src/pages/CurrentManagementInfrastructure/UpdateKeyValueInfoModal/index.jsx
  examples/example-remote/src/pages/User/Edit/SignetInfo/index.jsx
  examples/example-remote/src/pages/Workflow/Edit/DebugCaseInfo/index.jsx
  examples/example-remote/src/pages/Workflow/Edit/FromInfo/index.jsx
  examples/example-remote/src/pages/Workflow/SetDefaultApplicantStatementDrawer/index.jsx
  examples/example-remote/src/pages/Workflow/SetDefaultAttentionStatementDrawer/index.jsx
  examples/example-remote/src/pages/WorkflowCase/Edit/FormInfo/index.jsx
  examples/example-remote/src/pages/WorkflowCase/SetApplicantStatementDrawer/index.jsx
  examples/example-remote/src/pages/WorkflowCase/SetAttentionStatementDrawer/index.jsx
  examples/example-remote/src/pages/WorkflowDebugCase/SetApplicantStatementDrawer/index.jsx
  examples/example-remote/src/pages/WorkflowDebugCase/SetAttentionStatementDrawer/index.jsx
  examples/example-remote/src/pages/WorkflowFormDesign/FlowCaseFormDocumentDrawer/index.jsx
  examples/example-remote/src/pages/WorkflowLine/AddLineDrawer/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Cells/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/GeneralConfigs/GeneralQRCodeSwitch/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/GeneralConfigs/GeneralRemarkTitle/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/GeneralConfigs/GeneralSerialNumberSwitch/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/GeneralConfigs/GeneralTitleSwitch/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/GeneralConfigs/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/constant.js
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/tools.js
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/SchemaDisplayer/index.jsx
  packages/antd-management-fast-flow/src/components/Flow/index.jsx
  packages/antd-management-fast-flow/src/components/FlowProcessHistory/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/config/ncu/config/index.js
  develop/flags/commit.flag.json
  packages/antd-management-fast-design-playground/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/SchemaDisplayer/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write
