Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Publish
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

feat: update
  package.json
  packages/antd-management-fast-framework/package.json
Due: prettier --write

feat: update
  packages/antd-management-fast-framework/src/customComponents/IconInfo/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/utils/requestAssistor.js
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  LICENSE.md
  packages/antd-management-fast-framework/package.json
Due: prettier --write

feat: update
  package.json
Due: prettier --write

feat: update
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

feat: update
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: fix bug
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update file
  .gitattributes
  package.json
Due: prettier --write

feat: update
  packages/antd-management-fast-framework/src/utils/globalModel.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update dependences
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

feat: update
  packages/antd-management-fast-framework/src/customComponents/IconInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/customConfig/config.js
  packages/simple-antd-management-fast-framework/src/customConfig/pageConfig.js
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/utils/actionAssist.js
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: udpate buildMenu
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update buildMenu
  package.json
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.less
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update dependences
  package.json
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

feat: add formContentConfig.contentItemType.divider mode
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: fix bug
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: fix bug
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

feat: update
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write

Path conditions:
  stylelint --syntax less: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
