Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

.lintstagedrc:

{
  "**/*.less": "stylelint --syntax less",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/src/utils/requestAssistor.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/src/utils/authority.js
  packages/antd-management-fast-component/config/rollupConfig.js
  packages/antd-management-fast-component/src/customComponents/Authorized/Authorized.jsx
  packages/antd-management-fast-component/src/customComponents/Authorized/AuthorizedRoute.jsx
  packages/antd-management-fast-component/src/customComponents/Authorized/CheckPermissions.jsx
  packages/antd-management-fast-component/src/customComponents/Authorized/PromiseRender.jsx
  packages/antd-management-fast-component/src/customComponents/Authorized/Secured.jsx
  packages/antd-management-fast-component/src/customComponents/Authorized/index.jsx
  packages/antd-management-fast-component/src/customComponents/Authorized/renderAuthorize.js
  packages/antd-management-fast-framework1/src/customComponents/Authorized/Authorized.jsx
  packages/example-antd-management-fast-framework/src/models/entrance.js
  packages/example-antd-management-fast-framework/src/pages/Entrance/SignIn/index.jsx
  packages/example-antd-management-fast-framework/src/services/entrance.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/src/utils/tools.js
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.less
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/InnerMultiPage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/InnerSinglePage/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataCore/index.jsx
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/src/Authorized.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Add/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/AddBasicInfoDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/AddMediaItemDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Assist/action.js
  packages/example-antd-management-fast-framework/src/pages/Article/Assist/config.js
  packages/example-antd-management-fast-framework/src/pages/Article/Assist/tools.js
  packages/example-antd-management-fast-framework/src/pages/Article/ChangeImageSortModal/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/ChangeImageSortModal/index.less
  packages/example-antd-management-fast-framework/src/pages/Article/ChangeSortModal/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Common/data.js
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/ContentInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/MediaInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/MediaItemPreviewDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/MobilePreviewBox/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/PageListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/SelectField/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/SingleList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/SingleListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/TabPageBase/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/UpdateBasicInfoDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/UpdateMediaItemDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Workbench/ShortcutPanel/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Workbench/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Welcome.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  package.json
  packages/antd-management-fast-common/.prettierrc.js
  packages/antd-management-fast-common/config/rollupConfig.js
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/antd-management-fast-common/src/customComponents/index.jsx
  packages/antd-management-fast-component/.prettierrc.js
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/customComponents/BaseComponent/index.jsx
  packages/antd-management-fast-framework/.prettierrc.js
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseUpdateForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseWindow/index.jsx
  packages/antd-management-fast-rollup/.prettierrc.js
  packages/antd-management-fast-rollup/rollupAssist/configBuilder.js
  packages/example-antd-management-fast-framework/.prettierrc.js
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/pages/Article/Add/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/AddBasicInfoDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/AddMediaItemDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/ChangeImageSortModal/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/ChangeSortModal/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/PageListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/SingleList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/SingleListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/TabPageBase/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/UpdateBasicInfoDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/UpdateMediaItemDrawer/index.jsx
  packages/simple-antd-management-fast-framework/.prettierrc.js
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/tsconfig.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/index.less
  packages/antd-management-fast-component/src/customComponents/ImageBox/index.jsx
  packages/antd-management-fast-component/src/customComponents/ImageBox/index.less
  packages/antd-management-fast-component/src/customComponents/StandardTableCustom/index.jsx
  packages/antd-management-fast-component/src/customComponents/StandardTableCustom/index.less
  packages/antd-management-fast-rollup/rollupAssist/configBuilder.js
  packages/example-antd-management-fast-framework/config/config.js
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/public/noImageSmall.png
  packages/example-antd-management-fast-framework/src/components/PageWrapper/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-component/src/customComponents/ImageBox/index.jsx
  packages/antd-management-fast-component/src/customComponents/ImageBox/index.less
  packages/example-antd-management-fast-framework/config/config.js
  packages/example-antd-management-fast-framework/src/app.js
  packages/example-antd-management-fast-framework/src/app.less
  packages/example-antd-management-fast-framework/src/global.less
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-component/src/customComponents/ImageBox/index.jsx
  packages/antd-management-fast-component/src/customComponents/ImageBox/index.less
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/src/utils/actionAssist.js
  packages/antd-management-fast-component/src/customComponents/DisplayCopyData/index.js
  packages/antd-management-fast-component/src/customComponents/ImageBox/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseUpdateFormContent/index.jsx
  packages/example-antd-management-fast-framework/src/components/PageWrapper/index.jsx
  packages/example-antd-management-fast-framework/src/models/currentOperator.js
  packages/example-antd-management-fast-framework/src/models/global.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/example-antd-management-fast-framework/src/components/PageWrapper/index.jsx
  packages/example-antd-management-fast-framework/src/global.jsx
  packages/example-antd-management-fast-framework/src/models/global.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/example-antd-management-fast-framework/config/config.js
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/src/app.js
  packages/example-antd-management-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/src/utils/dva.js
  packages/antd-management-fast-framework/config/rollupConfig.js
  packages/antd-management-fast-framework/src/models/schedulingControl.js
  packages/antd-management-fast-framework/src/utils/bootstrap.js
  packages/antd-management-fast-framework/src/utils/settingAssist.js
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/src/app.js
  packages/example-antd-management-fast-framework/src/app.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/models/schedulingControl.js
  packages/antd-management-fast-framework/src/utils/bootstrap.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/config/rollupConfig.js
  packages/antd-management-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/antd-management-fast-common/src/utils/appConfiguration.js
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-common/src/utils/core.js
  packages/antd-management-fast-common/src/utils/defaultSettingsSpecial.js
  packages/antd-management-fast-common/src/utils/dva.js
  packages/antd-management-fast-common/src/utils/dynamicSetting.js
  packages/antd-management-fast-common/src/utils/proLayoutCollection.jsx
  packages/antd-management-fast-common/src/utils/request.js
  packages/antd-management-fast-common/src/utils/requestAssistor.js
  packages/antd-management-fast-common/src/utils/virtualRequest.js
  packages/antd-management-fast-component/src/customComponents/AudioUpload/index.jsx
  packages/antd-management-fast-component/src/customComponents/Editor/TinymceWrapper/index.jsx
  packages/antd-management-fast-component/src/customComponents/FileBase64Upload/index.jsx
  packages/antd-management-fast-component/src/customComponents/FileUpload/index.jsx
  packages/antd-management-fast-component/src/customComponents/ImageUpload/index.jsx
  packages/antd-management-fast-component/src/customComponents/VideoUpload/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/models/schedulingControl.js
  packages/antd-management-fast-framework/src/services/schedulingControl.js
  packages/antd-management-fast-framework/src/utils/bootstrap.js
  packages/antd-management-fast-framework/src/utils/metaDataAssist.js
  packages/antd-management-fast-framework/src/utils/settingAssist.js
  packages/example-antd-management-fast-framework/config/extraScript.js
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/public/interactionConfig/initLocal.core.js
  packages/example-antd-management-fast-framework/public/interactionConfig/initLocal.development.js
  packages/example-antd-management-fast-framework/public/interactionConfig/initLocal.production.js
  packages/example-antd-management-fast-framework/src/app.jsx
  packages/example-antd-management-fast-framework/src/components/Bootstrap/index.jsx
  packages/example-antd-management-fast-framework/src/components/PageWrapper/index.jsx
  packages/example-antd-management-fast-framework/src/defaultSettings.js
  packages/example-antd-management-fast-framework/src/models/setting.js
  packages/example-antd-management-fast-framework/src/pages/Entrance/SignIn/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Entrance/Wrapper/index.jsx
  packages/example-antd-management-fast-framework/src/services/article.js
  packages/example-antd-management-fast-framework/src/utils/tools.js
  packages/simple-antd-management-fast-framework/src/defaultSettings.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/src/utils/dynamicSetting.js
  packages/antd-management-fast-common/src/utils/log.js
  packages/antd-management-fast-framework/config/rollupConfig.js
  packages/antd-management-fast-framework/src/customComponents/Bootstrap/index.jsx
  packages/antd-management-fast-framework/src/utils/bootstrap.js
  packages/antd-management-fast-framework/src/utils/settingAssist.js
  packages/antd-management-fast-rollup/rollupAssist/configBuilder.js
  packages/example-antd-management-fast-framework/src/app.jsx
  packages/example-antd-management-fast-framework/src/components/Bootstrap/index.jsx
  packages/simple-antd-management-fast-framework/src/defaultSettings.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/example-antd-management-fast-framework/src/app.jsx
  packages/example-antd-management-fast-framework/src/components/Footer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/src/utils/appConfiguration.js
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-common/src/utils/dynamicSetting.js
  packages/antd-management-fast-framework/config/rollupConfig.js
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/models/schedulingControl.js
  packages/antd-management-fast-framework/src/services/schedulingControl.js
  packages/antd-management-fast-framework/src/utils/appListDataAssist.js
  packages/antd-management-fast-framework/src/utils/bootstrap.js
  packages/antd-management-fast-framework/src/utils/metaDataAssist.js
  packages/antd-management-fast-framework/src/utils/storageAssist.js
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/public/interactionConfig/initLocal.core.js
  packages/example-antd-management-fast-framework/src/app.jsx
  packages/simple-antd-management-fast-framework/src/models/global.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/src/utils/core.js
  packages/antd-management-fast-common/src/utils/log.js
  packages/antd-management-fast-common/src/utils/tools.js
  packages/antd-management-fast-framework/src/utils/appListDataAssist.js
  packages/antd-management-fast-framework/src/utils/bootstrap.js
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/public/interactionConfig/initLocal.core.js
  packages/example-antd-management-fast-framework/public/interactionConfig/initRemote.js
  packages/example-antd-management-fast-framework/src/app.jsx
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/src/utils/dynamicSetting.js
  packages/antd-management-fast-common/src/utils/proLayoutCollection.jsx
  packages/antd-management-fast-framework/config/rollupConfig.js
  packages/antd-management-fast-framework/src/configGroup/configGeneral.js
  packages/antd-management-fast-framework/src/models/schedulingControl.js
  packages/antd-management-fast-framework/src/utils/appListDataAssist.js
  packages/antd-management-fast-framework/src/utils/layoutSettingAssist.js
  packages/example-antd-management-fast-framework/config/config.js
  packages/example-antd-management-fast-framework/public/interactionConfig/initLocal.core.js
  packages/example-antd-management-fast-framework/public/interactionConfig/initRemote.js
  packages/example-antd-management-fast-framework/src/app.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/src/customComponents/ComponentBase/index.jsx
  packages/antd-management-fast-common/src/utils/dynamicSetting.js
  packages/antd-management-fast-component/src/customComponents/AudioUpload/index.jsx
  packages/antd-management-fast-component/src/customComponents/FileUpload/index.jsx
  packages/antd-management-fast-component/src/customComponents/Icon/index.jsx
  packages/antd-management-fast-component/src/customComponents/ImageContentPreview/index.jsx
  packages/antd-management-fast-component/src/customComponents/ImageUpload/index.jsx
  packages/antd-management-fast-component/src/customComponents/MobileContainor/MobileSimulation/index.jsx
  packages/antd-management-fast-component/src/customComponents/VideoUpload/index.jsx
  packages/antd-management-fast-framework/config/rollupConfig.js
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/MobileHtmlPreviewBox/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/MobilePreviewArea/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseUpdateFormContent/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/BatchAction/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/ColumnSetting/DndItem.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/DensityAction/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseUpdateTransferModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSingleView/DataCore/index.jsx
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
  packages/antd-management-fast-framework/src/utils/applicationAssist.js
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/src/app.jsx
  packages/example-antd-management-fast-framework/src/layouts1/EntranceLayout/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/ChangeImageSortModal/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/ContentInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/MediaInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/MediaItemPreviewDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/MobilePreviewBox/index.jsx
  packages/example-antd-management-fast-framework/src/pages/ArticleImage/Common/data.js
  packages/simple-antd-management-fast-framework/src/layouts/EntranceLayout.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/ChangeImageSortModal/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/MobileSimulation/FullScreenPreview/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/MobilePreviewDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMenuContainer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/FieldExtension/SelectFieldDrawer/SelectFieldBase/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/configGroup/configGeneral.js
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.less
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/config/rollupConfig.js
  packages/antd-management-fast-common/src/index.jsx
  packages/antd-management-fast-common/src/index.less
  packages/antd-management-fast-common/src/utils/dynamicSetting.js
  packages/antd-management-fast-component/config/rollupConfig.js
  packages/antd-management-fast-component/src/index.jsx
  packages/antd-management-fast-component/src/index.less
  packages/antd-management-fast-component/src/style/utils.less
  packages/antd-management-fast-framework/config/rollupConfig.js
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.less
  packages/antd-management-fast-framework/src/index.jsx
  packages/antd-management-fast-framework/src/index.less
  packages/antd-management-fast-rollup/rollupAssist/configBuilder.js
  packages/example-antd-management-fast-framework/src/components/Footer/index.jsx
  packages/example-antd-management-fast-framework/src/overrides.less
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/config/rollupConfig.js
  packages/antd-management-fast-common/src/utils/routeAssist.js
  packages/antd-management-fast-common/src/utils/tools.js
  packages/antd-management-fast-framework/src/customComponents/Bootstrap/index.jsx
  packages/antd-management-fast-framework/src/framework/Core/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
  packages/antd-management-fast-framework/src/utils/applicationAssist.js
  packages/antd-management-fast-rollup/rollupAssist/configBuilder.js
  packages/example-antd-management-fast-framework/src/app.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/customComponents/Bootstrap/index.jsx
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
  packages/example-antd-management-fast-framework/src/app.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/TabPageBase/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-component/src/customComponents/AudioUpload/index.jsx
  packages/antd-management-fast-component/src/customComponents/FileUpload/index.jsx
  packages/antd-management-fast-component/src/customComponents/ImageUpload/index.less
  packages/antd-management-fast-component/src/customComponents/VideoUpload/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/BatchAction/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/DensityAction/index.jsx
  packages/example-antd-management-fast-framework/public/EmptyLogo.png
  packages/example-antd-management-fast-framework/src/pages/Article/ChangeImageSortModal/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/ChangeImageSortModal/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  .vscode/settings.json
  lerna.json
  package.json
  packages/antd-management-fast-cli/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-common/tsconfig.types.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-rollup/package.json
  packages/antd-management-fast-rollup/rollupAssist/configBuilder.js
  packages/antd-management-fast-rollup/tsconfig.json
  packages/example-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/tsconfig.types.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
  packages/antd-management-fast-framework/tsconfig.types.json
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/tsconfig.types.json
  packages/antd-management-fast-component/tsconfig.types.json
  packages/antd-management-fast-framework/tsconfig.types.json
  packages/antd-management-fast-rollup/.eslintrc.js
  packages/antd-management-fast-rollup/package.json
  packages/simple-antd-management-fast-framework/.eslintrc.js
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-rollup/tsconfig.json
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  .gitignore
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(antd-management-fast-cli): update
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
Due: prettier --write

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/components/GlobalHeader/NoticeIconView.jsx
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
Due: prettier --write

feat(antd-management-fast-cli): update
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-common/src/utils/tools.js
  packages/antd-management-fast-common/src/utils/typeConvert.js
  packages/antd-management-fast-component/config/rollupConfig.js
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/customComponents/FormCustom/FormCustomItem/index.jsx
  packages/antd-management-fast-component/src/customComponents/FormCustom/FormCustomItemChildren/index.jsx
  packages/antd-management-fast-component/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-rollup/rollupAssist/configBuilder.js
  packages/example-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/example-antd-management-fast-framework/src/services/article.js
  packages/simple-antd-management-fast-framework/.eslintrc.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

feat(antd-management-fast-cli): update
  package.json
  packages/antd-management-fast-cli/package.json
  packages/antd-management-fast-common/src/utils/log.js
  packages/antd-management-fast-framework/src/framework/DataTabContainer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged
