Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

.lintstagedrc:

{
  "*.{md,json}": ["npx prettier --cache --write"],
  "*.{js,jsx}": [
    "max lint --fix --eslint-only",
    "npx prettier --cache --write"
  ],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "npx prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "npx prettier --cache --parser=typescript --write"
  ]
}

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

chore(antd-management-fast-framework): version
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/components/ElasticitySelectButton/BaseElasticitySelectButton/index.jsx
  packages/antd-management-fast-component/src/components/FieldExtra/SelectFieldExtra/BaseSelectFieldExtra/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseSelectModal/index.jsx
  packages/example-antd-management-fast-framework/src/businessComponents/SelectButton/index.jsx
  packages/example-antd-management-fast-framework/src/businessComponents/SelectField/codeSource.js
  packages/example-antd-management-fast-framework/src/businessComponents/SelectField/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Form/UploadView/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Simple/SelectField/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/framework/Common/InternalSwitchoverFlow/index.jsx
  packages/example-antd-management-fast-framework/src/businessComponents/Drawers/Multi/BaseSimpleMultiPageSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/businessComponents/Drawers/Single/BaseSimpleSinglePageSelectDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/MediaInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/PageListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/SingleListDrawer/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/utils/metaDataAssist.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/components/IconInfo/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseNeedlessLoadDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseNeedlessLoadModal/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/components/DataPreviewDrawer/index.jsx
  packages/example-remote/src/pages/OperationLog/BaseInnerPageList/index.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/config/prettier/config/index.js
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/MobileContainor/Devices/devices.less
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/components/HeaderSearch/index.less
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/MobileContainor/Devices/devices.less
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/components/HeaderSearch/index.less
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --stylelint-only, stylelint, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/MobileContainor/Devices/devices.less
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/components/HeaderSearch/index.less
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --stylelint-only, stylelint, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/MobileContainor/Devices/devices.less
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/components/HeaderSearch/index.less
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --stylelint-only, stylelint, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/components/FunctionComponent/ComponentBuilder/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/Common/InternalBuild/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalSwitchoverFlow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseAddForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataForm/BaseUpdateForm/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseImageSortModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseImageSortModal/index.less
  packages/antd-management-fast-framework/src/framework/DataModal/index.jsx
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/businessComponents/Drawers/Multi/BaseSimpleMultiPageSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/businessComponents/Drawers/Single/BaseSimpleSinglePageSelectDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/businessComponents/SelectButton/codeSource.js
  packages/example-antd-management-fast-framework/src/businessComponents/SelectField/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Form/UploadView/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Form/UploadView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/ChangeImageSortModal/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/BasicInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/MediaInfo/index.jsx
  packages/example-antd-management-fast-framework/src/services/simple.js
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/components/FlexText/index.jsx
  packages/antd-management-fast-component/src/components/FunctionComponent/ComponentBuilder/index.jsx
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/src/pages/Form/UploadView/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/List/ListView/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/List/ListView/index.jsx
  packages/example-remote/src/pages/AccessWay/ModuleInfoBase/index.jsx
  packages/example-remote/src/pages/ChannelSqlLogSwitch/PageListDrawer/index.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/components/FunctionComponent/ComponentBuilder/index.jsx
  packages/example-antd-management-fast-framework/src/locales/zh-CN/menu.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/components/FunctionComponent/ComponentBuilder/index.jsx
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/src/businessAssists/action.js
  packages/example-antd-management-fast-framework/src/businessAssists/config.js
  packages/example-antd-management-fast-framework/src/businessAssists/tools.js
  packages/example-antd-management-fast-framework/src/pages/Form/UploadView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/List/ListView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Add/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/AddBasicInfoDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/AddMediaItemDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/ChangeImageSortModal/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/ChangeSortModal/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Common/data.js
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/BasicInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/ContentInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/MediaInfo/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/Edit/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/PageList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/PageListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/SingleList/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/SingleListDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/TabPageBase/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/UpdateBasicInfoDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/UpdateMediaItemDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Workbench/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/example-antd-management-fast-framework/src/pages/Form/UploadView/codeSource.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/components/FlexText/index.jsx
  packages/antd-management-fast-component/src/components/FunctionComponent/ComponentBuilder/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseFormDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseLoadDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseNeedlessLoadDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseSaveDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/components/DataPreviewDrawer/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/components/FormExtra/DatePickerItem/index.jsx
  packages/antd-management-fast-component/src/components/FormExtra/TimePickerItem/index.jsx
  packages/antd-management-fast-component/src/components/FunctionComponent/FormBuilder/index.jsx
  packages/antd-management-fast-component/src/components/PageExtra/CardCollectionItemContent/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/example-remote/src/pages/CurrentManagement/Setting/FileStorageInfo/index.jsx
  packages/example-remote/src/pages/SqlLog/PreviewDrawer/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write
