Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

.lintstagedrc:

{
  "**/*.less": "stylelint --syntax less",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

style(antd-management-fast-cli): update
  packages/antd-management-fast-cli/package.json
Due: prettier --write

chore(antd-management-fast-framework): version
  packages/antd-management-fast-cli/CHANGELOG.md
  packages/antd-management-fast-cli/package.json
Due: prettier --write

style(antd-management-fast-cli): u
  packages/antd-management-fast-cli/src/init.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  packages/antd-management-fast-cli/src/env.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): upadte
  packages/antd-management-fast-cli/src/env.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-framework): update
  packages/antd-management-fast-cli/src/env.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  .vscode/settings.json
  packages/antd-management-fast-cli/bin/cli.js
  packages/antd-management-fast-cli/package.json
  packages/antd-management-fast-cli/src/clear.js
  packages/antd-management-fast-cli/src/env.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

chore(antd-management-fast-framework): version
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package-lock.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style(antd-management-fast-cli): update
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.less
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/src/pages/AccessWay/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/MediaInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/SingleList/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.less
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/simple-antd-management-fast-framework/src/customSpecialComponents/CustomAssembly/index.js
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/customComponents/Entrance/EntranceContext.jsx
  packages/antd-management-fast-framework/src/customComponents/Entrance/EntranceItem.jsx
  packages/antd-management-fast-framework/src/customComponents/Entrance/EntranceSubmit.jsx
  packages/antd-management-fast-framework/src/customComponents/Entrance/EntranceTab.jsx
  packages/antd-management-fast-framework/src/customComponents/Entrance/index.jsx
  packages/antd-management-fast-framework/src/customComponents/Entrance/index.less
  packages/antd-management-fast-framework/src/customComponents/Entrance/map.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  .vscode/settings.json
  packages/antd-management-fast-cli/bin/cli.js
  packages/antd-management-fast-cli/src/env.js
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/src/layouts/EntranceLayout.jsx
  packages/simple-antd-management-fast-framework/src/pages/Entrance/Assist/action.js
  packages/simple-antd-management-fast-framework/src/pages/Entrance/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Entrance/style.less
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

chore(antd-management-fast-framework): version
  packages/antd-management-fast-cli/CHANGELOG.md
  packages/antd-management-fast-cli/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package-lock.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

style(antd-management-fast-cli): update
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/src/components/GlobalHeader/AvatarDropdown.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/customComponents/IconInfo/index.jsx
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/MediaInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor(antd-management-fast-cli): update
  packages/antd-management-fast-framework/src/utils/core.js
  packages/antd-management-fast-framework/src/utils/localStorageAssist.js
  packages/antd-management-fast-framework/src/utils/sessionStorageAssist.js
  packages/antd-management-fast-framework/src/utils/tools.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged
