Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

.lintstagedrc:

{
  "*.{md,json}": ["npx prettier --cache --write"],
  "*.{js,jsx}": [
    "max lint --fix --eslint-only",
    "npx prettier --cache --write"
  ],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "npx prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "npx prettier --cache --parser=typescript --write"
  ]
}

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/GeneralConfigs/GeneralSort/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/FunctionComponent/ComponentBuilder/index.jsx
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-design-react/src/components/designable/react/widgets/DesignerToolsWidget/index.jsx
  packages/antd-management-fast-design-react/src/components/designable/react/widgets/ViewToolsWidget/index.jsx
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/FileViewer/index.jsx
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-flow/src/components/Flow/EndNode/index.jsx
  packages/antd-management-fast-flow/src/components/Flow/IntermediateNode/index.jsx
  packages/antd-management-fast-flow/src/components/Flow/node.less
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/utils/actionAssist.js
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/Canvas/RadarScanning/index.jsx
  packages/antd-management-fast-component/src/components/ProgressBar/Bar/index.jsx
  packages/antd-management-fast-component/src/components/ProgressBar/Container/index.jsx
  packages/antd-management-fast-component/src/components/ProgressBar/index.jsx
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-design-react/src/components/designable/react-settings-form/components/BoxStyleSetter/index.jsx
  packages/antd-management-fast-design-react/src/components/designable/react-settings-form/components/InputItems/index.jsx
  packages/antd-management-fast-design-react/src/components/designable/react/containers/Designer.jsx
  packages/antd-management-fast-design-react/src/components/designable/react/containers/Layout.jsx
  packages/antd-management-fast-design-react/src/components/designable/react/panels/ViewPanel.jsx
  packages/antd-management-fast-design-react/src/components/designable/react/widgets/DesignerToolsWidget/index.jsx
  packages/antd-management-fast-design-react/src/components/designable/react/widgets/DroppableWidget/index.jsx
  packages/antd-management-fast-design-react/src/components/designable/react/widgets/EmptyWidget/index.jsx
  packages/antd-management-fast-design-react/src/components/designable/react/widgets/ResourceWidget/index.jsx
  packages/antd-management-fast-design-react/src/components/designable/react/widgets/ViewToolsWidget/index.jsx
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Cells/CellApproval/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/tools.js
  packages/antd-management-fast-framework/src/framework/Common/InternalFlow/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Cells/CellTable/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Cells/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/constant.js
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/tools.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/src/pages/List/ListView/index.jsx
  examples/example-antd-management-fast-framework/src/pages/List/TableAlertView/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Cells/CellTable/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/FunctionComponent/ComponentBuilder/index.jsx
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/PageExtra/PageWrapper/index.jsx
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-develop/src/cliCollection/generate.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/bin/cli.js
  packages/antd-management-fast-develop/data/addBasicInfoDrawer.config.json
  packages/antd-management-fast-develop/data/assist.action.config.json
  packages/antd-management-fast-develop/data/assist.config.config.json
  packages/antd-management-fast-develop/data/assist.tools.config.json
  packages/antd-management-fast-develop/data/baseInnerPageList.config.json
  packages/antd-management-fast-develop/data/changeImageModal.config.json
  packages/antd-management-fast-develop/data/changeSortModal.config.json
  packages/antd-management-fast-develop/data/common.data.config.json
  packages/antd-management-fast-develop/data/edit.basicInfo.config.json
  packages/antd-management-fast-develop/data/edit.config.json
  packages/antd-management-fast-develop/data/operateLog.drawer.config.json
  packages/antd-management-fast-develop/data/operateLog.edit.pageList.config.json
  packages/antd-management-fast-develop/data/pageList.config.json
  packages/antd-management-fast-develop/data/pageListDrawer.config.json
  packages/antd-management-fast-develop/data/pageListSelectActionDrawer.config.json
  packages/antd-management-fast-develop/data/pageListSelectDrawer.config.json
  packages/antd-management-fast-develop/data/pageListSelectModal.config.json
  packages/antd-management-fast-develop/data/selectDrawerField.config.json
  packages/antd-management-fast-develop/data/selectModalField.config.json
  packages/antd-management-fast-develop/data/tabPageBase.config.json
  packages/antd-management-fast-develop/data/testGenerateConfig.config.json
  packages/antd-management-fast-develop/data/updateBasicInfoDrawer.config.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-develop/src/cliCollection/generateConfig.js
  packages/antd-management-fast-develop/src/tools/generateConfig.js
  packages/antd-management-fast-develop/src/tools/generateTemplate.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-develop/src/cliCollection/generateConfig.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-develop/src/cliCollection/generateTemplate.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-develop/src/tools/generateConfig.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-develop/data/addBasicInfoDrawer.config.json
  packages/antd-management-fast-develop/data/assist.action.config.json
  packages/antd-management-fast-develop/data/assist.config.config.json
  packages/antd-management-fast-develop/data/assist.tools.config.json
  packages/antd-management-fast-develop/data/baseInnerPageList.config.json
  packages/antd-management-fast-develop/data/changeImageModal.config.json
  packages/antd-management-fast-develop/data/changeSortModal.config.json
  packages/antd-management-fast-develop/data/common.data.config.json
  packages/antd-management-fast-develop/data/edit.basicInfo.config.json
  packages/antd-management-fast-develop/data/operateLog.drawer.config.json
  packages/antd-management-fast-develop/data/operateLog.edit.pageList.config.json
  packages/antd-management-fast-develop/data/pageList.config.json
  packages/antd-management-fast-develop/data/pageListDrawer.config.json
  packages/antd-management-fast-develop/data/pageListSelectActionDrawer.config.json
  packages/antd-management-fast-develop/data/pageListSelectDrawer.config.json
  packages/antd-management-fast-develop/data/pageListSelectModal.config.json
  packages/antd-management-fast-develop/data/selectDrawerField.config.json
  packages/antd-management-fast-develop/data/selectModalField.config.json
  packages/antd-management-fast-develop/data/tabPageBase.config.json
  packages/antd-management-fast-develop/data/updateBasicInfoDrawer.config.json
  packages/antd-management-fast-develop/src/tools/generateConfig.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/data/addBasicInfoDrawer.config.json
  packages/antd-management-fast-develop/data/assist.action.config.json
  packages/antd-management-fast-develop/data/assist.config.config.json
  packages/antd-management-fast-develop/data/assist.tools.config.json
  packages/antd-management-fast-develop/data/common.data.config.json
  packages/antd-management-fast-develop/data/testGenerateConfig.config.json
  packages/antd-management-fast-develop/package.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-develop/src/tools/generateConfig.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/FormExtra/InputItem/index.jsx
  packages/antd-management-fast-component/src/components/FormExtra/InputNumberItem/index.jsx
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-config/src/configAssist.js
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-antd-management-fast-framework/src/businessComponents/SelectField/SelectDrawerField/index.jsx
  examples/example-antd-management-fast-framework/src/businessComponents/SelectField/SelectModalField/index.jsx
  examples/example-antd-management-fast-framework/src/pages/Simple/SelectField/index.jsx
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/AudioUpload/index.jsx
  packages/antd-management-fast-component/src/components/EditableItem/index.jsx
  packages/antd-management-fast-component/src/components/FieldExtra/SelectFieldExtra/BaseSelectFieldExtra/index.jsx
  packages/antd-management-fast-component/src/components/FileBase64Upload/index.jsx
  packages/antd-management-fast-component/src/components/FileUpload/index.jsx
  packages/antd-management-fast-component/src/components/FormExtra/InputItem/index.jsx
  packages/antd-management-fast-component/src/components/FormExtra/InputNumberItem/index.jsx
  packages/antd-management-fast-component/src/components/FormExtra/Item/index.jsx
  packages/antd-management-fast-component/src/components/FormExtra/NowTimeItem/index.jsx
  packages/antd-management-fast-component/src/components/FormExtra/OnlyShowDatetimeItem/index.jsx
  packages/antd-management-fast-component/src/components/FormExtra/OnlyShowInputItem/index.jsx
  packages/antd-management-fast-component/src/components/FormExtra/PasswordItem/index.jsx
  packages/antd-management-fast-component/src/components/VideoUpload/index.jsx
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/config/develop.initial.environment.json
  develop/flags/commit.flag.json
  package.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/docs/scripts/prettify/prettify.js
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/docs/scripts/prettify/prettify.js
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-flow/src/components/Flow/CarbonCopyEdge/index.jsx
  packages/antd-management-fast-flow/src/components/Flow/CarbonCopyNode/index.jsx
  packages/antd-management-fast-flow/src/components/Flow/IntermediateNode/index.jsx
  packages/antd-management-fast-flow/src/components/Flow/index.jsx
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/docs/scripts/prettify/prettify.js
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/config/ncu/config/index.js
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/package.json
  package.json
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/config/ncu/config/index.js
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/ElasticityMenu/index.jsx
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/ElasticityMenu/index.jsx
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/ElasticityDropdown/index.jsx
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-design-react/src/components/designable/react-settings-form/components/ColorInput/index.jsx
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write
