Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

.lintstagedrc:

{
  "**/*.less": "stylelint --syntax less",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

chore(antd-management-fast-framework): version
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/CHANGELOG.md
  packages/simple-antd-management-fast-framework/package-lock.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor: update
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor: update
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: upodate
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

fix: 修复一处错误
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/utils/authority.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

perf: update
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/PageList/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style: update
  packages/antd-management-fast-framework/src/customComponents/AnimalBox/FadeBox/index.less
  packages/antd-management-fast-framework/src/customComponents/EllipsisCustom/index.less
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
  packages/antd-management-fast-framework/src/customComponents/ImageBox/index.less
  packages/antd-management-fast-framework/src/customComponents/ImageUpload/index.less
  packages/antd-management-fast-framework/src/customComponents/NoticeIconCustom/NoticeList.less
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/BaseUpdateTransferModal/index.jsx
  packages/simple-antd-management-fast-framework/src/components/NoticeIcon/NoticeList.less
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  .vscode/settings.json
  packages/antd-management-fast-framework/src/configGroup/configGeneral.js
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/IphoneX/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/devices.less
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/MobilePreviewDrawer/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/RoughSketch/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/RoughSketch/index.less
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/index.less
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/simple-antd-management-fast-framework/config/config.js
  packages/simple-antd-management-fast-framework/src/pages/Article/MediaItemPreviewDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/MobileSimulation/FullScreenPreview/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/customComponents/AudioUpload/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/GalaxyNote8/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/IPhone5S/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/Iphone8/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/Iphone8plus/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/Devices/IphoneX/index.jsx
  packages/antd-management-fast-framework/src/customComponents/MobileContainor/MobilePreviewDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/CustomWrapper/SupplementCore/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/antd-management-fast-framework/src/utils/defaultSettingsSpecial.js
  packages/antd-management-fast-framework/src/utils/mediaDefault.js
  packages/simple-antd-management-fast-framework/src/pages/Article/AddMediaItemDrawer/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Common/data.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  package.json
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/src/pages/Article/MediaItemPreviewDrawer/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update audiouploader
  packages/antd-management-fast-framework/src/customComponents/AudioUpload/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/simple-antd-management-fast-framework/src/pages/Article/Common/data.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
  packages/simple-antd-management-fast-framework/src/services/article.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/utils/actionAssist.js
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/customComponents/AudioUpload/index.jsx
  packages/antd-management-fast-framework/src/customComponents/ImageUpload/index.jsx
  packages/antd-management-fast-framework/src/customComponents/ImageUpload/index.less
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/antd-management-fast-framework/src/utils/mediaDefault.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Common/data.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: stylelint --syntax less, eslint --ext .js,.jsx,.ts,.tsx, prettier --write, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update dependences
  packages/antd-management-fast-framework/package.json
  packages/simple-antd-management-fast-framework/package.json
Due: prettier --write

refactor: update
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/configGroup/configGeneral.js
  packages/simple-antd-management-fast-framework/package.json
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

refactor: update
  packages/antd-management-fast-framework/src/customComponents/FileBase64Upload/index.jsx
  packages/antd-management-fast-framework/src/customComponents/FileUpload/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/index.jsx
  packages/antd-management-fast-framework/src/framework/CustomWrapper/SupplementCore/index.jsx
  packages/antd-management-fast-framework/src/utils/constants.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Common/data.js
  packages/simple-antd-management-fast-framework/src/pages/Article/Edit/BasicInfo/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged

style: update
  packages/antd-management-fast-framework/src/customComponents/FunctionComponent/index.jsx
Due: eslint --ext .js,.jsx,.ts,.tsx, prettier --write, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged
