Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

.lintstagedrc:

{
  "*.{md,json}": ["npx prettier --cache --write"],
  "*.{js,jsx}": [
    "max lint --fix --eslint-only",
    "npx prettier --cache --write"
  ],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "npx prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "npx prettier --cache --parser=typescript --write"
  ]
}

.lintstagedrc.json:

{
  "**/*.less": "stylelint",
  "**/*.{js,jsx,ts,tsx}": "eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged",
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/components/Icon/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/FunctionComponent/ColumnList/index.js
  packages/antd-management-fast-component/src/components/IconInfo/index.jsx
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/pages/List/TableSelectDropDownButtonView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/List/TableSelectDropDownView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/List/TableView/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/example-antd-management-fast-framework/src/components/GlobalHeader/AvatarDropdown.jsx
  packages/example-antd-management-fast-framework/src/components/GlobalHeader/NoticeIconView.jsx
  packages/example-antd-management-fast-framework/src/components/GlobalHeader/RightContent.jsx
  packages/example-antd-management-fast-framework/src/components/GlobalHeader/index.less
  packages/example-antd-management-fast-framework/src/components/HeaderDropdown/index.jsx
  packages/example-antd-management-fast-framework/src/components/HeaderDropdown/index.less
  packages/example-antd-management-fast-framework/src/components/HeaderSearch/index.jsx
  packages/example-antd-management-fast-framework/src/components/HeaderSearch/index.less
  packages/example-antd-management-fast-framework/src/components/NoticeIcon/NoticeIcon.jsx
  packages/example-antd-management-fast-framework/src/components/NoticeIcon/NoticeList.jsx
  packages/example-antd-management-fast-framework/src/components/NoticeIcon/NoticeList.less
  packages/example-antd-management-fast-framework/src/components/NoticeIcon/index.jsx
  packages/example-antd-management-fast-framework/src/components/NoticeIcon/index.less
  packages/example-antd-management-fast-framework/src/pages/List/TableSelectDropDownButtonView/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/List/TableSelectDropDownView/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/List/TableView/codeSource.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/utils/fitHandler.js
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/utils/entranceAssist.js
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/pages/Entrance/SignIn/index.jsx
  packages/example-antd-management-fast-framework/src/utils/init.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/SchemaDisplayer/index.jsx
  packages/antd-management-fast-design-playground/src/utils/definition.js
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/pages/Interaction/DesignView/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/SchemaDisplayer/index.jsx
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/DataOperation/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseView/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseWindow/index.jsx
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/businessComponents/Drawers/SimpleAddDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/businessComponents/Drawers/SimpleEditDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/DesignView/codeSource.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/DesignView/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Simple/AddBasicInfoDrawer/index.jsx
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  packages/example-remote/src/pages/SmsCategory/AddBasicInfoDrawer/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/bases/AbstractComponent/index.jsx
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/Common/InternalSwitchoverFlow/index.jsx
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/config/router.config.js
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/businessComponents/Drawers/SimpleAddDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/businessComponents/Drawers/SimpleEditDrawer/codeSource.js
  packages/example-antd-management-fast-framework/src/locales/zh-CN/menu.js
  packages/example-antd-management-fast-framework/src/pages/Interaction/DesignView/codeSource.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/PageExtra/CardCollectionItemContent/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Items/LineApprove/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Items/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/index.jsx
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/businessComponents/Drawers/FlowCaseFormDocumentDrawer/index.jsx
  packages/example-antd-management-fast-framework/src/pages/Interaction/DesignView/index.jsx
  packages/example-antd-management-fast-framework/src/utils/mock.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/utils/configAssist.js
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/pages/Interaction/DesignView/codeSource.js
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  .vscode/settings.json
  develop/assists/config/clean.config.js
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): update
  .vscode/settings.json
  develop/flags/commit.flag.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/flags/commit.flag.json
  lerna.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  .lintstagedrc.json
  develop/flags/commit.flag.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): update
  develop/assists/config/childrenSpecialDevelopPackage.config.js
  develop/assists/config/mainDevelopPackage.config.js
  develop/config/package/template/main.content.js
  develop/config/rollup/configBuilder.js
  develop/config/stylelint/config/index.js
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/utils/shortcutControlAssist.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  .vscode/settings.json
  develop/flags/commit.flag.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-charts/src/components/Charts/ChartCard/index.jsx
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/HelpCard/index.jsx
  packages/antd-management-fast-component/src/components/PageExtra/ToolBar/index.jsx
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/Common/InternalBuild/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageModal/index.jsx
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/src/utils/tools.js
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  packages/example-remote/src/utils/tools.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/Editor/TinymceWrapper/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/config/package/template/main.content.js
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/AuthorizationWrapper/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  packages/example-remote/src/pages/Application/UpdateKeyValueInfoModal/index.jsx
  packages/example-remote/src/pages/CurrentManagement/UpdateKeyValueInfoModal/index.jsx
  packages/example-remote/src/pages/User/Edit/BasicInfo/index.jsx
  packages/example-remote/src/pages/UserDevice/Edit/BasicInfo/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/utils/constants.js
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/example-antd-management-fast-framework/CHANGELOG.md
  packages/example-antd-management-fast-framework/package.json
  packages/example-remote/CHANGELOG.md
  packages/example-remote/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-common/src/utils/routeAssist.js
  packages/antd-management-fast-common/src/utils/settingAssist.js
  packages/antd-management-fast-component/src/components/MobileContainor/MobileSimulation/index.jsx
  packages/antd-management-fast-component/src/components/PageExtra/PageWrapper/index.jsx
  packages/antd-management-fast-framework/src/components/PageExtraWrapper/index.jsx
  packages/antd-management-fast-framework/src/framework/Common/InternalLayout/index.jsx
  packages/antd-management-fast-framework/src/modelBuilders/shortcutControl.js
  packages/antd-management-fast-framework/src/utils/interfaceSettingAssist.jsx
  packages/antd-management-fast-framework/src/utils/shortcutControlAssist.js
  packages/example-antd-management-fast-framework/public/interactionConfig/initLocal.core.js
  packages/example-antd-management-fast-framework/src/app.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/AudioUpload/index.jsx
  packages/antd-management-fast-component/src/components/FileBase64Upload/index.jsx
  packages/antd-management-fast-component/src/components/FileUpload/index.jsx
  packages/antd-management-fast-component/src/components/ImageUpload/index.jsx
  packages/antd-management-fast-component/src/components/VideoUpload/index.jsx
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/FileViewer/index.jsx
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/Common/InternalFlow/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: updqate
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/FunctionComponent/ComponentBuilder/index.jsx
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/FileViewer/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write
