Repository kityandhero/antd-management-fast-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/config/stylelint/config/index.js
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/config/router.config.js
  examples/example-antd-management-fast-framework/generatorConfig/code.json
  examples/example-antd-management-fast-framework/src/components/MenuCard/index.jsx
  examples/example-antd-management-fast-framework/src/locales/zh-CN/menu.js
  examples/example-antd-management-fast-framework/src/pages/List/TableAlertView/codeSource.js
  examples/example-antd-management-fast-framework/src/pages/List/TableAlertView/index.jsx
  examples/example-remote/src/components/MenuCard/index.jsx
  packages/antd-management-fast-common/src/utils/constants.js
  packages/antd-management-fast-component/src/components/DescriptionGrid/index.jsx
  packages/antd-management-fast-component/src/components/ElasticityButton/index.jsx
  packages/antd-management-fast-component/src/components/ElasticityDropdown/index.jsx
  packages/antd-management-fast-component/src/components/EllipsisCustom/index.jsx
  packages/antd-management-fast-design-react/src/components/designable/react-settings-form/components/ColorInput/index.jsx
  packages/antd-management-fast-framework/docs/framework_DataListView_Base_index.jsx.html
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.less
Due: npx prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, stylelint, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/config/stylelint/config/index.js
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-antd-management-fast-framework/src/pages/Interaction/DesignView/codeSource.js
  examples/example-antd-management-fast-framework/src/pages/List/TableAlertView/codeSource.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/docs/framework_DataListView_Base_index.jsx.html
  packages/antd-management-fast-framework/docs/framework_DataMultiPageView_MultiPage_index.jsx.html
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/Common/InternalFlow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPage/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-component/src/components/IconInfo/index.jsx
  packages/antd-management-fast-component/src/components/PageExtra/HeaderTitle/index.jsx
  packages/antd-management-fast-framework/src/components/DrawerExtra/index.jsx
  packages/antd-management-fast-framework/src/components/ModalExtra/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-antd-management-fast-framework/src/pages/List/TableAlertView/index.jsx
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/config/develop.subPath.publish.json
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/style/variable.less
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-design-react/src/components/designable/react/theme.less
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --stylelint-only, stylelint, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/config/develop.subPath.publish.json
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/.prettierrc.js
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/tools.js
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/config/rollup/configBuilder.js
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-antd-management-fast-framework/src/businessData/data.js
  examples/example-antd-management-fast-framework/src/pages/Form/NormalView/index.jsx
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/FormExtra/OnlyShowTextareaItem/index.jsx
  packages/antd-management-fast-component/src/components/PageExtra/CardCollectionItemContent/index.jsx
  packages/antd-management-fast-component/src/components/PageExtra/ToolBar/index.jsx
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/Common/InternalBuild/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageModal/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-antd-management-fast-framework/src/pages/Form/NormalView/index.jsx
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/FormExtra/OnlyShowTextareaItem/index.jsx
  packages/antd-management-fast-component/src/components/IconInfo/index.jsx
  packages/antd-management-fast-component/src/components/PageExtra/CardCollectionItemContent/index.jsx
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/Common/InternalBuild/index.jsx
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/BaseNeedlessLoadDrawer/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-antd-management-fast-framework/src/pages/Form/FlowView/index.jsx
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/docs/scripts/prettify/prettify.js
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/docs/scripts/prettify/prettify.js
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-flow/src/components/Flow/IntermediateNode/index.jsx
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/docs/scripts/prettify/prettify.js
  packages/antd-management-fast-framework/package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/src/customConfig/constants.js
  examples/example-antd-management-fast-framework/src/pages/Interaction/DesignView/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-remote/src/pageBases/FlowCase/BaseFlowCaseFormInfoDrawer/index.jsx
  examples/example-remote/src/pages/User/Edit/SignetInfo/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-antd-management-fast-framework/src/businessComponents/Drawers/FlowCaseFormDocumentDrawer/index.jsx
  examples/example-remote/CHANGELOG.md
  examples/example-remote/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  .husky/pre-commit
  develop/flags/commit.flag.json
  examples/example-remote/src/pageBases/FlowFormDesign/BaseFlowCaseFormDocumentDrawer/index.jsx
  examples/example-remote/src/pages/WorkflowCase/Edit/FormInfo/index.jsx
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/tools.js
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  package.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  .gitignore
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/tools.js
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/tools.js
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/index.jsx
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-antd-management-fast-framework/src/pages/Interaction/DesignView/index.jsx
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/FileViewer/index.jsx
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  .prettierignore
  develop/flags/commit.flag.json
  package.json
Due: npx prettier --cache --write, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/ElasticityTagList/index.jsx
  packages/antd-management-fast-component/src/components/FunctionComponent/ComponentBuilder/index.jsx
  packages/antd-management-fast-component/src/components/ImageBox/index.jsx
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-playground/src/components/displayer/DocumentPrintDesigner/DocumentContent/Cells/CellMoney/index.jsx
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  package.json
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-common/CHANGELOG.md
  packages/antd-management-fast-common/package.json
  packages/antd-management-fast-common/src/utils/requestAssist.js
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-config/CHANGELOG.md
  packages/antd-management-fast-config/package.json
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-design-react/CHANGELOG.md
  packages/antd-management-fast-design-react/package.json
  packages/antd-management-fast-develop/CHANGELOG.md
  packages/antd-management-fast-develop/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

fix(antd-management-fast-charts): :bug: update
  develop/flags/commit.flag.json
  examples/example-antd-management-fast-framework/CHANGELOG.md
  examples/example-antd-management-fast-framework/package.json
  examples/example-antd-management-fast-framework/src/businessComponents/Drawers/Multi/SelectDrawer/BaseSimpleMultiPageSelectDrawer/index.jsx
  examples/example-antd-management-fast-framework/src/businessComponents/Modals/Multi/SelectModal/BaseSimpleMultiPageSelectModal/index.jsx
  examples/example-antd-management-fast-framework/src/pages/Interaction/DrawerView/index.jsx
  examples/example-antd-management-fast-framework/src/pages/Simple/PageList/index.jsx
  examples/example-antd-management-fast-framework/src/pages/Simple/SingleList/index.jsx
  examples/example-antd-management-fast-framework/src/pages/Simple/SingleListDrawer/index.jsx
  packages/antd-management-fast-charts/CHANGELOG.md
  packages/antd-management-fast-charts/package.json
  packages/antd-management-fast-component/CHANGELOG.md
  packages/antd-management-fast-component/package.json
  packages/antd-management-fast-component/src/components/FunctionComponent/ComponentBuilder/index.jsx
  packages/antd-management-fast-component/src/components/StatusBar/index.jsx
  packages/antd-management-fast-design-playground/CHANGELOG.md
  packages/antd-management-fast-design-playground/package.json
  packages/antd-management-fast-flow/CHANGELOG.md
  packages/antd-management-fast-flow/package.json
  packages/antd-management-fast-formily/CHANGELOG.md
  packages/antd-management-fast-formily/package.json
  packages/antd-management-fast-formily/src/components/designable/formily-antd/setters/components/ReactionsSetter/index.jsx
  packages/antd-management-fast-framework/CHANGELOG.md
  packages/antd-management-fast-framework/package.json
  packages/antd-management-fast-framework/src/components/DrawerExtra/index.jsx
  packages/antd-management-fast-framework/src/components/ModalExtra/index.jsx
  packages/antd-management-fast-framework/src/framework/DataDrawer/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataListView/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataModal/Base/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageSelectDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataMultiPageView/MultiPageSelectModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataOperation/BaseWindow/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageModal/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageSelectDrawer/index.jsx
  packages/antd-management-fast-framework/src/framework/DataSinglePageView/SinglePageSelectModal/index.jsx
Due: npx prettier --cache --write, max lint --fix --eslint-only, eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged, prettier --write

Path conditions:
  npx prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  stylelint: any of: **/*.less
  eslint --ext .js,.jsx,.ts,.tsx && npm run lint-staged: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
